<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
      <LinkTo @route="index" class="navbar-brand">
        {{!-- template-lint-disable require-valid-alt-text --}}
        <img src="/img/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-middle">
        CrimeIsDown.com
      </LinkTo>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <LinkTo @route="map" id="map-link" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Chicago Map</LinkTo>
          </li>
          <li class="nav-item">
            <LinkTo @route="audio" id="audio-link" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Scanner Audio</LinkTo>
          </li>
          <li class="nav-item">
            <LinkTo @route="search-transcripts" id="transcript-link" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Transcript Search</LinkTo>
          </li>
          <li class="nav-item">
            <LinkTo @route="map-transcripts" id="transcript-map-link" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Transcript Map</LinkTo>
          </li>
          <li class="nav-item">
            <LinkTo @route="guide" id="guide-link" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Scanner Guide</LinkTo>
          </li>
          <li class="nav-item">
            <LinkTo @route="directives" id="directives-link" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Police Directive Changes</LinkTo>
          </li>
          {{!-- <li class="nav-item">
            <a href="https://blog.crimeisdown.com" id="blog-link" class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Blog</a>
          </li> --}}
        </ul>

        <ul class="navbar-nav ms-auto">
          {{#if this.session.isAuthenticated}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarAuthDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{this.session.user.patreon_tier.name}} {{this.session.user.name}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarAuthDropdown">
              <a class="dropdown-item" href="{{ this.config.ENV.API_BASE_URL }}/profile">Profile</a>
              <a class="dropdown-item" href="{{ this.config.ENV.API_BASE_URL }}/logout" referrerpolicy="unsafe-url">Logout</a>
            </div>
          </li>
          {{else}}
          <li class="nav-item">
            <a href="{{ this.config.ENV.API_BASE_URL }}/auth/redirect" referrerpolicy="unsafe-url" class="ptrn-button"><img src="/img/login-with-patreon.png" alt="Log in with Patreon"></a>
          </li>
          {{/if}}
          <li class="nav-item dropdown" {{did-insert this.initThemeToggle}}>
            <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                    id="bd-theme"
                    type="button"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    data-bs-display="static">
              <svg class="bi my-1 theme-icon-active"><use href="#circle-half"></use></svg>
              <span class="d-lg-none ms-2">Toggle theme</span>
            </button>
            {{!-- template-lint-disable no-inline-styles --}}
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme" style="--bs-dropdown-min-width: 8rem;">
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
                  <svg class="bi me-2 opacity-50 theme-icon"><use href="#sun-fill"></use></svg>
                  Light
                  <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                  <svg class="bi me-2 opacity-50 theme-icon"><use href="#moon-stars-fill"></use></svg>
                  Dark
                  <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto">
                  <svg class="bi me-2 opacity-50 theme-icon"><use href="#circle-half"></use></svg>
                  Auto
                  <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                </button>
              </li>
            </ul>
          </li>
        </ul>
        {{!-- <form class="d-flex">
          <div class="form-check me-3">
            <label class="form-check-label text-muted">
              <input type="checkbox" class="form-check-input" id="nightmodetoggle">
              Night Mode
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label text-muted red-blue-flashing">
              <Input @type="checkbox" class="form-check-input" id="copstoggle" @checked={{this.playmusic}} {{on "change" this.togglemusic}} />
              <FaIcon @icon="volume-up" />&nbsp;COPS Mode
            </label>
            <div class="d-none">
              <audio id="copstheme" src="https://www.soundboard.com/mediafiles/Inner%20Circle%20-%20Bad%20Boys%20(COPS%20theme%20song)219275-1efae287-f275-499c-8ef5-878aa3795aed.mp3" loop preload="auto"></audio>
            </div>
          </div>
        </form> --}}
      </div>
    </div>
  </nav>
</header>
