<form id="recordingsearch" {{on "submit" this.submit}}>
  <div class="mb-3">
    <label for="cpdfeed">Radio channel</label>
    <select name="feed" id="cpdfeed" class="form-control" required>
      <option value="" disabled selected>Select channel</option>
      <option value="citywide1">Citywide 1</option>
      <option value="citywide2">Citywide 2</option>
      <option value="citywide5">Citywide 5</option>
      <option value="citywide6">Citywide 6</option>
      <option value="zone1">Zone 1 (016/017)</option>
      <option value="zone2">Zone 2 (019)</option>
      <option value="zone3">Zone 3 (012/014)</option>
      <option value="zone4">Zone 4 (001/018)</option>
      <option value="zone5">Zone 5 (002)</option>
      <option value="zone6">Zone 6 (007/008)</option>
      <option value="zone7">Zone 7 (003)</option>
      <option value="zone8">Zone 8 (004/006)</option>
      <option value="zone9">Zone 9 (005/022)</option>
      <option value="zone10">Zone 10 (010/011)</option>
      <option value="zone11">Zone 11 (020/024)</option>
      <option value="zone12">Zone 12 (015/025)</option>
      <option value="zone13">Zone 13 (009)</option>
      <option value="fire_main">CFD Fire Main (North)</option>
      <option value="fire_englewood">CFD Fire Englewood (South)</option>
      <option value="ems_main">CFD EMS Main (North)</option>
      <option value="ems_englewood">CFD EMS Englewood (South)</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="datetimepicker">Time of recording (in US Central time)</label>
    <div class="input-group date">
      <EmberFlatpickr name="datetime" @id="datetimepicker" @allowInput={{true}} class="form-control" @defaultDate={{this.options.defaultDate}} @enableTime={{this.options.enableTime}} @dateFormat={{this.options.dateFormat}} @minuteIncrement={{this.options.minuteIncrement}} @minDate={{this.options.minDate}} @date={{readonly this.options.defaultDate}} @onChange={{null}} @altInput={{this.options.altInput}} @altFormat={{this.options.altFormat}} @disableMobile=true />
      <span class="input-group-text"><FaIcon @icon="calendar" /></span>
    </div>
  </div>
  <div class="mb-3">
    <label for="audioformat">Audio format</label>
    <select name="format" id="audioformat" class="form-control">
      <option value="" selected>Auto (most compatible)</option>
      <option value="aac">AAC, .aac</option>
      <option value="caf">Opus, .caf (for iOS/MacOS)</option>
      <option value="ogg">Opus, .ogg (for non-iOS)</option>
    </select>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Get recording</button>
  </div>
</form>
