<form id="recordingsearch" {{on "submit" this.submit}}>
  <div class="mb-3">
    <label for="cpdfeed">Radio channel</label>
    <select name="feed" id="cpdfeed" class="form-control" required>
      {{#unless @feed}}
      <option value="" disabled selected>Select channel</option>
      {{/unless}}
      {{#each this.feeds as |feed|}}
        <option value={{feed.value}} selected={{if (eq feed.value @feed) "selected"}}>{{feed.label}}</option>
      {{/each}}
    </select>
  </div>
  <div class="mb-3">
    <label for="datetimepicker">Time of recording (in US Central time)</label>
    <div class="input-group date">
      <EmberFlatpickr name="datetime" @id="datetimepicker" @allowInput={{true}} class="form-control" @defaultDate={{this.options.defaultDate}} @enableTime={{this.options.enableTime}} @dateFormat={{this.options.dateFormat}} @minuteIncrement={{this.options.minuteIncrement}} @date={{readonly this.options.defaultDate}} @onChange={{null}} @altInput={{this.options.altInput}} @altFormat={{this.options.altFormat}} />
      <span class="input-group-text"><FaIcon @icon="calendar" /></span>
    </div>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Download recording</button>
  </div>
</form>
