{{#if showForm}}
  <h4>{{if update "Edit" "New"}} Comment</h4>
  <form {{action (if update "update" "create") on="submit"}}>
    <div class="form-group">
      <label for="author">Author</label>
      {{input type="text" class="form-control" id="author" value=comment.author}}
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      {{input type="text" class="form-control" id="content" value=comment.body}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button class="btn btn-secondary" {{action (mut showForm) false}}>Cancel</button>
  </form>
{{else}}
  <button class="btn btn-info" {{action (mut showForm) true}}>{{if update "Edit" "New"}} Comment</button>
{{/if}}