<div class="row">
  <div class="col-md-12">
    <h3 style="margin-top: 1rem;">Event #{{incident.id}}</h3>
    {{incident-form update=true incident=incident openIncidents=openIncidents agencies=agencies callTypes=callTypes}}
    <p>Comments</p>
    {{#if incident.comments.length}}
      <ul>
        {{#each incident.comments as |comment|}}
          <li>
            <button type="button" class="btn btn-danger btn-sm" aria-label="Delete comment" {{action "deleteComment" incident comment}}>
              <span aria-hidden="true">&times;</span>
            </button>
            {{comment-form update=true comment=comment incident=incident}}
            [{{comment.createdAt}}] {{comment.body}} - {{comment.author}}</li>
        {{/each}}
      </ul>
    {{else}}
      <p>Nobody has commented on this incident yet.</p>
    {{/if}}
    {{comment-form update=false incident=incident}}
  </div>
</div>