<form {{action (if update "update" "create") on="submit"}}>
  <div class="form-group">
    <label id="incidentTypeLabel">Incident Type</label>
    {{#power-select
      ariaLabelledBy="incidentTypeLabel"
      options=model.incidentTypes
      selected=incident.type
      placeholder="Select incident type"
      onchange=(action (mut incident.type))
      renderInPlace=true
    as |incidentType|
    }}
      {{incidentType.description}}
    {{/power-select}}
  </div>
  <div class="form-group">
    <label for="nature">Nature of call</label>
    {{input type="text" class="form-control" id="nature" placeholder="e.g. Car vs semi w/ injuries" required=true value=incident.nature}}
  </div>
  <div class="form-group">
    <label for="locationAddress">Address</label>
    {{input type="text" class="form-control" id="locationAddress" value=location.address required=true}}
  </div>
  <div class="form-group">
    <label for="locationDescription">Location Description (additional details about address e.g. in alley)</label>
    {{input type="text" class="form-control" id="locationDescription" value=location.description}}
  </div>
  {{#unless update}}
  <div class="form-group">
    <label for="notes">Notes/Narrative</label>
    {{trix-editor placeholder="Further description about the incident" value=note.body}}
  </div>
  {{/unless}}
  <div class="form-group">
    <label id="priorityLabel">Priority</label>
    {{#power-select
      ariaLabelledBy="priorityLabel"
      options=model.incidentPriorities
      selected=incident.priority
      placeholder="Choose priority level"
      onchange=(action (mut incident.priority))
      renderInPlace=true
    as |priority|
    }}
      {{priority.value}}: {{priority.description}}
    {{/power-select}}
  </div>
  <div class="form-group">
    <label id="unitsLabel">Units attached</label>
    {{#power-select-multiple
      ariaLabelledBy="unitsLabel"
      search=(action "searchUnit")
      selected=units
      placeholder="Attach units to call"
      onchange=(action "setUnits")
      renderInPlace=true
    as |unit|
    }}
      {{#if unit.searchResult}}
        {{unit.agency}} - {{unit.level1}} {{unit.level2}} {{unit.level3}} {{unit.level4}}
      {{else}}
        {{unit.agency.name}} {{unit.radioId}}
      {{/if}}
    {{/power-select-multiple}}
  </div>
  <div class="form-group">
    <label id="statusLabel">Status</label>
    {{#power-select
      ariaLabelledBy="statusLabel"
      options=model.incidentStatuses
      selected=incident.status
      placeholder="Choose incident status"
      onchange=(action (mut incident.status))
      renderInPlace=true
    as |status|
    }}
      {{status.value}}: {{status.description}}
    {{/power-select}}
  </div>
  {{#if update}}
  <div class="form-group">
    <label id="dispositionLabel">Disposition</label>
    {{#power-select
      ariaLabelledBy="dispositionLabel"
      options=model.incidentDispositions
      selected=incident.disposition
      placeholder="Choose incident disposition"
      onchange=(action (mut incident.disposition))
      renderInPlace=true
    as |disposition|
    }}
      {{disposition.description}}
    {{/power-select}}
  </div>
  {{/if}}
  <div class="form-group">
    <button type="submit" class="btn btn-primary">{{if update "Update" "Create"}}</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" {{action "close"}}>{{if update "Close Tab" "Cancel"}}</button>
    {{#if update}}<button class="btn btn-danger" {{action "delete"}}>Delete</button>{{/if}}
  </div>
</form>