<section class="overall-container">
  <div class="search-container">
    <p><em>Interact with this map or use the search box to find information about a specific address. Police districts are outlined in blue.</em></p>
    <small class="text-danger">If you use the map drawing features (below zoom in/out), they will not be saved. A refresh will clear the map.</small>
    <p class="mobile text-primary"><em>Scroll down for incident map</em></p>
    <div class="accordion" id="accordion" role="tablist">
      {{#if showIncidentTable}}
      <div class="card">
        <div class="card-header" role="tab">
          <a id="headingIncidents" data-toggle="collapse" href="#collapseIncidents" aria-expanded="true" aria-controls="collapseIncidents">
            Incidents
          </a>
          {{!-- <a class="draggable-handle"><i class="fa fa-arrows-v"></i></a> --}}
        </div>
        <div id="collapseIncidents" class="collapse show" role="tabpanel" aria-labelledby="headingIncidents" data-parent="#accordion">
          {{incident-table model=model incidents=incidents openIncidents=openIncidents}}
        </div>
      </div>
      {{/if}}
      <div class="card">
        <div class="card-header" role="tab">
          <a class="card-heading" id="headingAddrSearch" data-toggle="collapse" href="#collapseAddrSearch" aria-expanded="true" aria-controls="collapseAddrSearch">
            Address Search
          </a>
          {{!--<a class="draggable-handle"><i class="fa fa-arrows-v"></i></a>--}}
        </div>
        <div id="collapseAddrSearch" class="collapse show" role="tabpanel" aria-labelledby="headingAddrSearch">
          <div id="address-search">
            <form {{action "searchAddress" address on="submit"}}>
              <div class="form-group">
                <label for="address">Address, intersection, place to search</label>
                <div class="input-group">
                  {{input class="form-control" name="address" placeholder="e.g. 3510 S Michigan, Chicago" type="text" value=address autofocus=true}}
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                  </div>
                </div>
              </div>
            </form>
            <div class="form-group">
              <button class="btn btn-info{{if geolocationPending " disabled" ""}}" {{action "locateMe" on="click"}} title="Device geolocation works best on mobile"><i class="fa fa-crosshairs" aria-hidden="true"></i> Use my location</button>
            </div>
            <table class="table table-bordered table-condensed">
              <tbody>
              <tr class="info">
                <th colspan="2">Location Info</th>
              </tr>
              <tr>
                <td>Formatted Address</td>
                <td>{{ location.meta.formattedAddress }}</td>
              </tr>
              <tr>
                <td>Latitude: {{ location.meta.latitude }}</td>
                <td>Longitude: {{ location.meta.longitude }}</td>
              </tr>
              <tr>
                <td>Neighborhood</td>
                <td>{{ location.meta.neighborhood }}</td>
              </tr>
              <tr>
                <td>Community Area</td>
                <td>{{ location.meta.communityArea }}</td>
              </tr>
              <tr>
                <td>Ward / Alderman</td>
                <td>{{#if location.meta.ward}}{{ location.meta.ward }} - <a href="{{ location.meta.alderman.website }}" target="_blank">Alderman {{ location.meta.alderman.name }}</a>{{/if}}</td>
              </tr>
              <tr class="info">
                <th colspan="2">Chicago Police Department</th>
              </tr>
              <tr>
                <td>{{ location.police.district }} District, Beat {{ location.police.beat }}</td>
                <td>Area {{ location.police.area }}</td>
              </tr>
              <tr>
                <td colspan="2">
                  {{#if location.police.zone.name}}
                    <strong>{{ location.police.zone.name }}</strong> ({{ location.police.zone.frequency }})<br>
                    <p>{{location.police.zone.description}}</p>
                    <p>{{#link-to class="btn btn-primary" route="audio-live" model=location.police.zone.slug title=(concat "Listen to " location.police.zone.name)}}<i class="fa fa-volume-up" aria-hidden="true"></i> Listen to CPD with Instant Replay{{/link-to}}</p>
                    {{stream-player stream=location.police.zone.slug autoplay=false}}
                  {{/if}}
                </td>
              </tr>

              <tr class="info">
                <th colspan="2">Chicago Fire Department</th>
              </tr>
              <tr>
                <td>
                  <i>Nearest Companies:</i><br>
                  <span tabindex="0" data-toggle="tooltip" title="{{ location.fire.nearestEngine.addr }}">{{ location.fire.nearestEngine.engine }} (Engine)</span><br>
                  <span tabindex="0" data-toggle="tooltip" title="{{ location.fire.nearestTruck.addr }}">{{ location.fire.nearestTruck.truck }} (Truck)</span><br>
                  <span tabindex="0" data-toggle="tooltip" title="{{ location.fire.nearestAmbo.addr }}">{{ location.fire.nearestAmbo.ambo }} (Ambo.)</span><br>
                  <span tabindex="0" data-toggle="tooltip" title="{{ location.fire.nearestSquad.addr }}">{{ location.fire.nearestSquad.squad }} (Squad)</span>
                </td>
                <td>
                  <i>Loc. Within:</i><br>
                  Battalion {{ location.fire.battalion }}<br>
                  Fire Dist. {{ location.fire.fireDistrict }}<br>
                  EMS District {{ location.fire.emsDistrict }}
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  Radio Channel: <strong>{{ location.fire.channel }}</strong>
                  {{#if location.fire.channel}}
                  <a
                    href="{{if (eq location.fire.channel "Main") "https://openmhz.com/system/chi_cfd?filter-type=group&filter-code=5a498e5e129ce10001425163" "https://openmhz.com/system/chi_cfd?filter-type=group&filter-code=5a498e6d129ce10001425164"}}"
                    class="btn btn-primary" title="Listen to CFD {{ location.fire.channel }}"
                  ><i class="fa fa-volume-up" aria-hidden="true"></i> Listen to CFD with Instant Replay</a>
                  {{/if}}
                </td>
              </tr>
              <tr class="info">
                <th colspan="2">Closest Medical Services</th>
              </tr>
              <tr>
                <td colspan="2">
                  Adult Trauma Center:
                  {{#if location.ems.nearestTraumaAdult.name}}
                  <em>
                    {{ location.ems.nearestTraumaAdult.name }}
                    -
                    {{ location.ems.nearestTraumaAdult.distanceMi }}mi
                  </em>
                  ({{ location.ems.nearestTraumaAdult.addr }},
                    {{ location.ems.nearestTraumaAdult.city }},
                    {{ location.ems.nearestTraumaAdult.state }},
                    {{ location.ems.nearestTraumaAdult.zip }})
                  - Patient Reports on {{ location.ems.nearestTraumaAdult.medChannel }}
                  {{/if}}
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  Pediatric Trauma Center:
                  {{#if location.ems.nearestTraumaPed.name}}
                  <em>
                    {{ location.ems.nearestTraumaPed.name }}
                    -
                    {{ location.ems.nearestTraumaPed.distanceMi }}mi
                  </em>
                  ({{ location.ems.nearestTraumaPed.addr }},
                    {{ location.ems.nearestTraumaPed.city }},
                    {{ location.ems.nearestTraumaPed.state }},
                    {{ location.ems.nearestTraumaPed.zip }})
                  - Patient Reports on {{ location.ems.nearestTraumaPed.medChannel }}
                  {{/if}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {{map-tools}}
    </div>
  </div>
  <div class="map-container">
    <ul class="nav nav-tabs" id="cadTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="map-tab" data-toggle="tab" href="#main-map" role="tab" aria-controls="main-map" aria-selected="true">Address Search Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="traffic-tab" data-toggle="tab" href="#traffic-map" role="tab" aria-controls="traffic-map" aria-selected="false">Traffic Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="crime-tab" data-toggle="tab" href="#crimes-map" role="tab" aria-controls="crimes-map" aria-selected="false">Recent Crimes Map</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="main-map" role="tabpanel" aria-labelledby="map-tab">
        <div id="leaflet-map"></div>
      </div>
      <div class="tab-pane fade" id="traffic-map" role="tabpanel" aria-labelledby="crime-tab">
        <iframe id="waze-map" title="Waze map" src="https://embed.waze.com/iframe?zoom=11&lat=41.85&lon=-87.63"></iframe>
      </div>
      <div class="tab-pane fade" id="crimes-map" role="tabpanel" aria-labelledby="crime-tab">
        <iframe id="crimereports-map" title="Crime reports map" src="about:blank"></iframe>
      </div>
    </div>
  </div>
</section>