<div class="row">
  <div class="col-md-12">
    <h3 style="margin-top: 1rem;">Event #{{incident.id}}</h3>
    <IncidentForm @update={{true}} @incident={{incident}} @openIncidents={{openIncidents}} @model={{model}} />
    <h4>Notes</h4>
    {{#if incident.notes.length}}
      <ul>
        {{#each incident.notes as |note|}}
          <li>
            <NoteForm @update={{true}} @note={{note}} @incident={{incident}} />
            [{{moment-format note.createdAt 'HH:mm:ss'}}] {{note.author}} said {{note.body}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>Nobody has added a narrative to this incident yet.</p>
    {{/if}}
    <NoteForm @update={{false}} @incident={{incident}} />
  </div>
</div>