<div>
  {{#each incidents as |incident|}}
    <div class="card">
      <div class="card-body">
        <ul>
          <li>Submitter name: {{incident.submitterName}}</li>
          <li>Title: {{incident.title}}</li>
          <li>Call type: {{incident.callType.name}}</li>
          <li>Address: {{incident.address}}</li>
          <li>Location: {{incident.location}}</li>
          <li>Description: {{incident.description}}</li>
          <ul>
            {{#each incident.units as |unit|}}
              <li>{{unit.agency.name}} - {{unit.radioId}}</li>
            {{/each}}
          </ul>
          <ul>
            {{#each incident.tweets as |tweet|}}
              <li>{{tweet.url}}</li>
            {{/each}}
          </ul>
          <ul>
            {{#each incident.photos as |photo|}}
              <li>{{photo.url}}</li>
            {{/each}}
          </ul>
        </ul>
        <div class="btn-group" role="group" aria-label="Incident actions">
          <button class="btn btn-danger" {{action "deleteIncident" incident}}>Delete Incident</button>
        </div>
        <p>Comments</p>
        <ul>
          {{#each incident.comments as |comment|}}
            <li>{{comment.body}} - {{comment.author}}</li>
          {{/each}}
        </ul>
        {{new-comment incident=incident}}

        {{update-incident incident=incident units=units callTypes=callTypes}}
      </div>
    </div>
  {{/each}}
</div>

{{new-incident units=units callTypes=callTypes}}

<button class="btn btn-default" {{action "seedData" on="click"}}>Seed data</button>