<section class="overall-container">
  <div class="search-container">
    <p><em>Interact with this map or use the search box to find information about a specific address. Police districts are outlined in blue.</em></p>
    <small class="text-danger">If you use the map drawing features (below zoom in/out), they will not be saved. A refresh will clear the map.</small>
    <p class="mobile text-primary"><em>Scroll down for incident map</em></p>
    <div class="accordion" id="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingAddrSearch">
          <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseAddrSearch" aria-expanded="true" aria-controls="collapseAddrSearch" type="button">
            Address Search
          </button>
          {{!--<a class="draggable-handle"><FaIcon @icon="arrows-v" /></a>--}}
        </h2>
        <div id="collapseAddrSearch" class="collapse show" role="tabpanel" aria-labelledby="headingAddrSearch">
          <div id="address-search" class="accordion-body">
            <form {{on "submit" this.searchAddress}}>
              <div class="form-group">
                <label for="address">Address, intersection, place to search</label>
                <div class="input-group">
                  <Input class="form-control" name="address" placeholder="e.g. 3510 S Michigan, Chicago" @type="text" @value={{this.address}} aria-label="Address, intersection, place to search" />
                  <button class="btn btn-primary" type="submit">Search</button>
                </div>
              </div>
            </form>
            <div class="form-group mt-1 mb-3">
              <button type="button" class="btn btn-info{{if this.geolocationPending " disabled" ""}}" {{on "click" this.locateMe}} title="Device geolocation works best on mobile"><FaIcon @icon="crosshairs" /> Use my location</button>
            </div>
            <table class="table table-bordered table-condensed">
              <tbody>
              <tr class="info">
                <th colspan="2">Location Info</th>
              </tr>
              <tr>
                <td>Formatted Address</td>
                <td>{{ this.location.meta.formattedAddress }}</td>
              </tr>
              <tr>
                <td>Latitude: {{ this.location.meta.latitude }}</td>
                <td>Longitude: {{ this.location.meta.longitude }}</td>
              </tr>
              <tr>
                <td>Neighborhood</td>
                <td>{{ this.location.meta.neighborhood }}</td>
              </tr>
              <tr>
                <td>Community Area</td>
                <td>{{ this.location.meta.communityArea }}</td>
              </tr>
              <tr>
                <td>Ward / Alderman</td>
                <td>{{#if this.location.meta.ward}}{{ this.location.meta.ward }} - <a href="{{ this.location.meta.alderman.website }}" target="_blank" rel="noopener noreferrer">Alderman {{ this.location.meta.alderman.name }}</a>{{/if}}</td>
              </tr>
              <tr class="info">
                <th colspan="2">Chicago Police Department</th>
              </tr>
              <tr>
                <td>{{ this.location.police.district }} District, Beat {{ this.location.police.beat }}</td>
                <td>Area {{ this.location.police.area }}</td>
              </tr>
              <tr>
                <td colspan="2">
                  {{#if this.location.police.zone.name}}
                    <strong>{{ this.location.police.zone.name }}</strong> ({{ this.location.police.zone.frequency }})<br>
                    <p>{{ this.location.police.zone.description }}</p>
                    <p><LinkTo class="btn btn-primary" @route="audio-live" @model={{this.location.police.zone.slug}} title={{concat "Listen to " this.location.police.zone.name}}><FaIcon @icon="volume-up" /> Listen to CPD with Instant Replay</LinkTo></p>
                    <StreamPlayer @stream={{this.location.police.zone}} @autoplay={{false}} />
                  {{/if}}
                </td>
              </tr>

              <tr class="info">
                <th colspan="2">Chicago Fire Department</th>
              </tr>
              <tr>
                <td>
                  <i>Nearest Companies:</i><br>
                  <span tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ this.location.fire.nearestEngine.addr }}">{{ this.location.fire.nearestEngine.engine }} (Engine)</span><br>
                  <span tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ this.location.fire.nearestTruck.addr }}">{{ this.location.fire.nearestTruck.truck }} (Truck)</span><br>
                  <span tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ this.location.fire.nearestAmbo.addr }}">{{ this.location.fire.nearestAmbo.ambo }} (Ambo.)</span><br>
                  <span tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ this.location.fire.nearestSquad.addr }}">{{ this.location.fire.nearestSquad.squad }} (Squad)</span>
                </td>
                <td>
                  <i>Loc. Within:</i><br>
                  Battalion {{ this.location.fire.battalion }}<br>
                  Fire Dist. {{ this.location.fire.fireDistrict }}<br>
                  EMS District {{ this.location.fire.emsDistrict }}
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  Radio Channel: <strong>{{ this.location.fire.channel }}</strong>
                  {{#if this.location.fire.channel}}
                  <a
                    href="{{if (eq this.location.fire.channel "Main") "https://openmhz.com/system/chi_cfd?filter-type=talkgroup&filter-code=1,3" "https://openmhz.com/system/chi_cfd?filter-type=talkgroup&filter-code=2,4"}}"
                    class="btn btn-primary" title="Listen to CFD {{ this.location.fire.channel }}"
                  ><FaIcon @icon="volume-up" /> Listen to CFD with Instant Replay</a>
                  {{/if}}
                </td>
              </tr>
              <tr class="info">
                <th colspan="2">Closest Medical Services</th>
              </tr>
              <tr>
                <td colspan="2">
                  Adult Trauma Center:
                  {{#if this.location.ems.nearestTraumaAdult.name}}
                  <em>
                    {{ this.location.ems.nearestTraumaAdult.name }}
                    -
                    {{ this.location.ems.nearestTraumaAdult.distanceMi }}mi
                  </em>
                  ({{ this.location.ems.nearestTraumaAdult.addr }},
                    {{ this.location.ems.nearestTraumaAdult.city }},
                    {{ this.location.ems.nearestTraumaAdult.state }},
                    {{ this.location.ems.nearestTraumaAdult.zip }})
                  - Patient Reports on {{ this.location.ems.nearestTraumaAdult.medChannel }}
                  {{/if}}
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  Pediatric Trauma Center:
                  {{#if this.location.ems.nearestTraumaPed.name}}
                  <em>
                    {{ this.location.ems.nearestTraumaPed.name }}
                    -
                    {{ this.location.ems.nearestTraumaPed.distanceMi }}mi
                  </em>
                  ({{ this.location.ems.nearestTraumaPed.addr }},
                    {{ this.location.ems.nearestTraumaPed.city }},
                    {{ this.location.ems.nearestTraumaPed.state }},
                    {{ this.location.ems.nearestTraumaPed.zip }})
                  - Patient Reports on {{ this.location.ems.nearestTraumaPed.medChannel }}
                  {{/if}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <MapTools />
    </div>
  </div>
  <div class="map-container">
    <ul class="nav nav-tabs" id="cadTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="map-tab" data-bs-toggle="tab" href="#main-map" aria-controls="main-map" aria-selected="true">Address Search Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="traffic-tab" data-bs-toggle="tab" href="#traffic-map" aria-controls="traffic-map" aria-selected="false">Traffic Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="crime-tab" data-bs-toggle="tab" href="#crime-map" aria-controls="crime-map" aria-selected="false">Crime Map</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="main-map" role="tabpanel" aria-labelledby="map-tab">
        <div id="leaflet-map" {{did-insert this.initMap}}></div>
      </div>
      <div class="tab-pane fade" id="traffic-map" role="tabpanel" aria-labelledby="traffic-tab">
        <iframe id="waze-map" title="Waze map" src="https://embed.waze.com/iframe?zoom=11&lat=41.85&lon=-87.63&ct=livemap"></iframe>
      </div>
      <div class="tab-pane fade" id="crime-map" role="tabpanel" aria-labelledby="crime-tab">
        <iframe id="clear-map" title="Crime map" src="https://chicagopd.maps.arcgis.com/apps/webappviewer/index.html?id=96ca65e89cd54b8c808b136a66778369"></iframe>
      </div>
    </div>
  </div>
</section>
