<div>
  {{#each incidents as |incident|}}
    <div class="card">
      <div class="card-body">
        {{update-incident incident=incident units=units callTypes=callTypes}}
        <div class="btn-group" role="group" aria-label="Incident actions">
          <button class="btn btn-default" data-toggle="modal" data-target="#update-incident-modal">Update Incident</button>
          <button class="btn btn-danger" {{action "deleteIncident" incident}}>Delete Incident</button>
        </div>
        <h4>{{incident.title}} - {{incident.callType.name}}</h4>
        <ul>
          <li>Submitter: {{incident.submitterName}}</li>
          <li>Address: {{incident.address}}</li>
          <li>Location: {{incident.location}}</li>
          <li>Description: {{incident.description}}</li>
          {{#if incident.units.length}}
          <li>Units assigned</li>
          <ul>
            {{#each incident.units as |unit|}}
              <li>{{unit.agency.name}} - {{unit.radioId}}</li>
            {{/each}}
          </ul>
          {{/if}}
          {{#if incident.tweets.length}}
          <li>Relevant tweets</li>
          <ul>
            {{#each incident.tweets as |tweet|}}
              <li>{{tweet.url}}</li>
            {{/each}}
          </ul>
          {{/if}}
          {{#if incident.photos.length}}
          <li>Relevant photos</li>
          <ul>
            {{#each incident.photos as |photo|}}
              <li>{{photo.url}}</li>
            {{/each}}
          </ul>
          {{/if}}
        </ul>
        <p>Comments</p>
        {{#if incident.comments.length}}
          <ul>
            {{#each incident.comments as |comment|}}
              <li>
                <button type="button" class="btn btn-danger btn-sm" aria-label="Delete comment" {{action "deleteComment" incident comment}}>
                  <span aria-hidden="true">&times;</span>
                </button>
                [{{comment.createdAt}}] {{comment.body}} - {{comment.author}}</li>
            {{/each}}
          </ul>
        {{else}}
          <p>Nobody has commented on this incident yet.</p>
        {{/if}}
        {{new-comment incident=incident}}
      </div>
    </div>
  {{/each}}
</div>

{{new-incident units=units callTypes=callTypes}}
<br>
<button class="btn btn-default" {{action "seedData" on="click"}}>Seed data into localStorage</button>