<div class="row">
  <div class="col-md-12">
    <h3 class="mt-1">Event #{{this.incident.id}}</h3>
    <IncidentForm @isUpdate={{true}} @incident={{this.incident}} @openIncidents={{this.openIncidents}} @model={{this.model}} />
    <h4>Notes</h4>
    {{#if this.incident.notes.length}}
      <ul>
        {{#each this.incident.notes as |note|}}
          <li>
            <NoteForm @isUpdate={{true}} @note={{this.note}} @incident={{this.incident}} />
            [{{moment-format note.createdAt 'HH:mm:ss'}}] {{this.note.author}} said {{this.note.body}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>Nobody has added a narrative to this incident yet.</p>
    {{/if}}
    <NoteForm @isUpdate={{false}} @incident={{this.incident}} />
  </div>
</div>