<div class="modal fade" id="add-incident-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Incident</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{#if showNewForm}}
          {{incident-form update=false agencies=agencies callTypes=callTypes}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
<p>
  <button type="button" class="btn btn-primary" {{action "openAddIncidentModal"}}>
    Add Incident
  </button>
</p>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Posted</th>
      <th>Pri.</th>
      <th>Type</th>
      <th>Nature</th>
      <th>Location</th>
      <th>Disposition</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {{#each incidents as |incident|}}
    <tr>
      <td>{{moment-format incident.createdAt 'HH:mm:ss'}}</td>
      <td>{{incident.priority}}</td>
      <td>{{incident.callType.name}}</td>
      <td>{{incident.callNature}}</td>
      <td><a href="#" {{action "gotoMarker" incident.location.marker}}>{{incident.address}}</a></td>
      <td>{{if incident.disposition incident.disposition "Ongoing"}}</td>
      <td><button class="btn btn-sm btn-primary" {{action "openIncident" incident}}>Open</button></td>
    </tr>
  {{/each}}
  </tbody>
</table>
<p><button class="btn btn-default" {{action "seedData" on="click"}}>Seed data into localStorage</button></p>