<div class="row">
  <div class="col-md-12">
    <h3 style="margin-top: 1rem;">Event #{{incident.id}}</h3>
    {{incident-form update=true incident=incident openIncidents=openIncidents agencies=agencies callTypes=callTypes}}
    <h4>Comments</h4>
    {{#if incident.comments.length}}
      <ul>
        {{#each incident.comments as |comment|}}
          <li>
            {{comment-form update=true comment=comment incident=incident}}
            [{{moment-format comment.createdAt 'HH:mm:ss'}}] {{comment.author}} said {{comment.body}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>Nobody has commented on this incident yet.</p>
    {{/if}}
    {{comment-form update=false incident=incident}}
  </div>
</div>