<form {{action (if update "update" "create") on="submit"}}>
  <div class="form-group">
    <label id="incidentTypeLabel">Incident Type</label>
    <PowerSelect @ariaLabelledBy="incidentTypeLabel" @options={{model.incidentTypes}} @selected={{incident.type}} @placeholder="Select incident type" @onchange={{action (mut incident.type)}} @renderInPlace={{true}} as |incidentType|>
      {{incidentType.description}}
    </PowerSelect>
  </div>
  <div class="form-group">
    <label for="nature">Nature of call</label>
    <Input @type="text" class="form-control" @id="nature" placeholder="e.g. Car vs semi w/ injuries" required={{true}} @value={{incident.nature}} />
  </div>
  <div class="form-group">
    <label for="locationAddress">Address</label>
    <Input @type="text" class="form-control" @id="locationAddress" @value={{location.address}} required={{true}} />
  </div>
  <div class="form-group">
    <label for="locationDescription">Location Description (additional details about address e.g. in alley)</label>
    <Input @type="text" class="form-control" @id="locationDescription" @value={{location.description}} />
  </div>
  {{#unless update}}
  <div class="form-group">
    <label for="notes">Notes/Narrative</label>
    <PellEditor @placeholder="Further description about the incident" @value={{note.body}} />
  </div>
  {{/unless}}
  <div class="form-group">
    <label id="priorityLabel">Priority</label>
    <PowerSelect @ariaLabelledBy="priorityLabel" @options={{model.incidentPriorities}} @selected={{incident.priority}} @placeholder="Choose priority level" @onchange={{action (mut incident.priority)}} @renderInPlace={{true}} as |priority|>
      {{priority.value}}: {{priority.description}}
    </PowerSelect>
  </div>
  <div class="form-group">
    <label id="unitsLabel">Units attached</label>
    <PowerSelectMultiple @ariaLabelledBy="unitsLabel" @search={{action "searchUnit"}} @selected={{units}} @placeholder="Attach units to call" @onchange={{action "setUnits"}} @renderInPlace={{true}} as |unit|>
      {{#if unit.searchResult}}
        {{unit.agency}} - {{unit.level1}} {{unit.level2}} {{unit.level3}} {{unit.level4}}
      {{else}}
        {{unit.agency.name}} {{unit.radioId}}
      {{/if}}
    </PowerSelectMultiple>
  </div>
  <div class="form-group">
    <label id="statusLabel">Status</label>
    <PowerSelect @ariaLabelledBy="statusLabel" @options={{model.incidentStatuses}} @selected={{incident.status}} @placeholder="Choose incident status" @onchange={{action (mut incident.status)}} @renderInPlace={{true}} as |status|>
      {{status.value}}: {{status.description}}
    </PowerSelect>
  </div>
  {{#if update}}
  <div class="form-group">
    <label id="dispositionLabel">Disposition</label>
    <PowerSelect @ariaLabelledBy="dispositionLabel" @options={{model.incidentDispositions}} @selected={{incident.disposition}} @placeholder="Choose incident disposition" @onchange={{action (mut incident.disposition)}} @renderInPlace={{true}} as |disposition|>
      {{disposition.description}}
    </PowerSelect>
  </div>
  {{/if}}
  <div class="form-group">
    <button type="submit" class="btn btn-primary">{{if update "Update" "Create"}}</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" {{action "close"}}>{{if update "Close Tab" "Cancel"}}</button>
    {{#if update}}<button class="btn btn-danger" {{action "delete"}}>Delete</button>{{/if}}
  </div>
</form>
