<section class="overall-container">
  <div class="search-container">
    <p><em>Interact with this map or use the search box to find information about a specific address. Police districts are outlined in blue.</em></p>
    <p class="text-danger">If you use the map drawing features (below zoom in/out), they will not be saved. A refresh will clear the map. (save functionality coming soon)</p>
    <p class="mobile text-primary"><em>Scroll down for incident map</em></p>
    <div class="accordion" id="accordion" role="tablist">
      {{!--<div class="card draggable">
        <div class="card-header" role="tab">
          <a id="headingIncidents" data-toggle="collapse" href="#collapseIncidents" aria-expanded="true" aria-controls="collapseIncidents">
            Incidents
          </a>
          <a class="draggable-handle"><i class="fa fa-arrows-v"></i></a>
        </div>
        <div id="collapseIncidents" class="collapse show" role="tabpanel" aria-labelledby="headingIncidents" data-parent="#accordion">
          {{incident-table model=model incidents=incidents openIncidents=openIncidents}}
        </div>
      </div> --}}
      <div class="card draggable">
        <div class="card-header" role="tab">
          <a class="card-heading" id="headingAddrSearch" data-toggle="collapse" href="#collapseAddrSearch" aria-expanded="true" aria-controls="collapseAddrSearch">
            Address Search
          </a>
          <a class="draggable-handle"><i class="fa fa-arrows-v"></i></a>
        </div>
        <div id="collapseAddrSearch" class="collapse show" role="tabpanel" aria-labelledby="headingAddrSearch" data-parent="#accordion">
          <div id="address-search">
            <form {{action "searchAddress" address on="submit"}}>
              <div class="form-group">
                <label for="address">Address, intersection, place to search</label>
                <div class="input-group">
                  {{input class="form-control" name="address" placeholder="e.g. 3510 S Michigan, Chicago" type="text" value=address autofocus=true}}
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                  </div>
                </div>
              </div>
            </form>
            <table class="table table-bordered table-condensed">
              <tbody>
              <tr class="info">
                <th colspan="2">Location Info</th>
              </tr>
              <tr>
                <td>Formatted Address</td>
                <td>{{ location.meta.formattedAddress }}</td>
              </tr>
              <tr>
                <td>Latitude: {{ location.meta.latitude }}</td>
                <td>Longitude: {{ location.meta.longitude }}</td>
              </tr>
              <tr>
                <td>Neighborhood</td>
                <td>{{ location.meta.neighborhood }}</td>
              </tr>
              <tr>
                <td>Community Area</td>
                <td>{{ location.meta.communityArea }}</td>
              </tr>
              <tr>
                <td>Ward / Alderman</td>
                <td>{{#if location.meta.ward}}{{ location.meta.ward }} - <a href="{{ location.meta.alderman.website }}" target="_blank">Alderman {{ location.meta.alderman.name }}</a>{{/if}}</td>
              </tr>
              <tr class="info">
                <th colspan="2">Chicago Police Department</th>
              </tr>
              <tr>
                <td>Beat</td>
                <td>{{ location.police.beat }}</td>
              </tr>
              <tr>
                <td colspan="2">
                  <strong>Radio Zone {{ location.police.zone.num }}</strong>
                  {{#if location.police.zone.freq}}
                    ({{ location.police.zone.freq }})
                  {{/if}}
                  <audio id="streamplayer" class="stream-player" style="width: 200px;"></audio>
                  {{#if currentZoneStream}}
                    Player streaming Zone {{currentZoneStream}}
                  {{/if}}
                </td>
              </tr>
              <tr>
                <td>{{ location.police.district }} District</td>
                <td>Area {{ location.police.area }}</td>
              </tr>
              <tr class="info">
                <th colspan="2">Chicago Fire Department</th>
              </tr>
              <tr>
                <td>
                  <i>Nearest Companies:</i><br>
                  <span tabindex="0" data-toggle="tooltip" title="{{ location.fire.nearestEngine.addr }}">{{ location.fire.nearestEngine.engine }} (Engine)</span><br>
                  <span tabindex="0" data-toggle="tooltip" title="{{ location.fire.nearestTruck.addr }}">{{ location.fire.nearestTruck.truck }} (Truck)</span><br>
                  <span tabindex="0" data-toggle="tooltip" title="{{ location.fire.nearestAmbo.addr }}">{{ location.fire.nearestAmbo.ambo }} (Ambo.)</span><br>
                  <span tabindex="0" data-toggle="tooltip" title="{{ location.fire.nearestSquad.addr }}">{{ location.fire.nearestSquad.squad }} (Squad)</span>
                </td>
                <td>
                  <i>Loc. Within:</i><br>
                  Battalion {{ location.fire.battalion }}<br>
                  Fire Dist. {{ location.fire.fireDistrict }}<br>
                  EMS District {{ location.fire.emsDistrict }}
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  Radio Channel: {{ location.fire.channel }}
                  {{#if location.fire.channel}}
                  (Listen to <a href="https://www.youtube.com/embed/live_stream?channel=UCsMo3qUWKgwL5IA2CZ8J7Zg" target="_blank">Fire</a>
                  or
                  <a href="https://www.youtube.com/embed/live_stream?channel=UCHVvMupXCot6i9HaU5e6evQ" target="_blank">EMS</a>)
                  {{/if}}
                </td>
              </tr>
              <tr class="info">
                <th colspan="2">Closest Medical Services</th>
              </tr>
              <tr>
                <td colspan="2">
                  Adult Trauma Center:
                  {{#if location.ems.nearestTraumaAdult.name}}
                  <em>
                    {{ location.ems.nearestTraumaAdult.name }}
                    -
                    {{ location.ems.nearestTraumaAdult.distanceMi }}mi
                  </em>
                  ({{ location.ems.nearestTraumaAdult.addr }},
                    {{ location.ems.nearestTraumaAdult.city }},
                    {{ location.ems.nearestTraumaAdult.state }},
                    {{ location.ems.nearestTraumaAdult.zip }})
                  - Patient Reports on {{ location.ems.nearestTraumaAdult.medChannel }}
                  {{/if}}
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  Pediatric Trauma Center:
                  {{#if location.ems.nearestTraumaPed.name}}
                  <em>
                    {{ location.ems.nearestTraumaPed.name }}
                    -
                    {{ location.ems.nearestTraumaPed.distanceMi }}mi
                  </em>
                  ({{ location.ems.nearestTraumaPed.addr }},
                    {{ location.ems.nearestTraumaPed.city }},
                    {{ location.ems.nearestTraumaPed.state }},
                    {{ location.ems.nearestTraumaPed.zip }})
                  - Patient Reports on {{ location.ems.nearestTraumaPed.medChannel }}
                  {{/if}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card draggable">
        <div class="card-header" role="tab">
          <a class="card-heading" id="headingRIDSearch" data-toggle="collapse" href="#collapseRIDSearch" aria-expanded="true" aria-controls="collapseRIDSearch">
            Radio ID Search
          </a>
          <a class="draggable-handle"><i class="fa fa-arrows-v"></i></a>
        </div>
        <div id="collapseRIDSearch" class="collapse show" role="tabpanel" aria-labelledby="headingRIDSearch" data-parent="#accordion">
          <div id="search-radioids">
            {{search-radioids}}
          </div>
        </div>
      </div>
      <div class="card draggable">
        <div class="card-header" role="tab">
          <a class="card-heading" id="headingUCRSearch" data-toggle="collapse" href="#collapseUCRSearch" aria-expanded="true" aria-controls="collapseUCRSearch">
            UCR Code Search
          </a>
          <a class="draggable-handle"><i class="fa fa-arrows-v"></i></a>
        </div>
        <div id="collapseUCRSearch" class="collapse show" role="tabpanel" aria-labelledby="headingUCRSearch" data-parent="#accordion">
          <div id="search-ucrcodes">
            {{search-ucrcodes}}
          </div>
        </div>
      </div>
      <div class="card draggable">
        <div class="card-header" role="tab">
          <a class="card-heading collapsed" id="headingNotepad" data-toggle="collapse" href="#collapseNotepad" aria-expanded="true" aria-controls="collapseNotepad">
            Notepad
          </a>
          <a class="draggable-handle"><i class="fa fa-arrows-v"></i></a>
        </div>
        <div id="collapseNotepad" class="collapse" role="tabpanel" aria-labelledby="headingNotepad" data-parent="#accordion">
          <div id="notepad">
            <p>Use the text area for any notes you may need to take when listening to the scanner.</p>
            {{trix-editor}}
            <p><em>Refreshing the page or navigating away will clear anything you have written.</em></p>
          </div>
        </div>
      </div>
    </div>
    <script>
      // @TODO: Move outside the template
      var el = document.querySelector('.search-container > .accordion');
      var sortable = Sortable.create(el, {
        draggable: '.draggable',
        handle: '.draggable-handle',
        delay: 500
      });
    </script>
  </div>
  <div class="map-container">
    <ul class="nav nav-tabs" id="cadTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="map-tab" data-toggle="tab" href="#main-map" role="tab" aria-controls="main-map" aria-selected="true">Address Search Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="traffic-tab" data-toggle="tab" href="#traffic-map" role="tab" aria-controls="traffic-map" aria-selected="false">Traffic Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="crime-tab" data-toggle="tab" href="#crimes-map" role="tab" aria-controls="crimes-map" aria-selected="false">Recent Crimes Map</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="main-map" role="tabpanel" aria-labelledby="map-tab">
        <div id="leaflet-map"></div>
      </div>
      <div class="tab-pane fade" id="traffic-map" role="tabpanel" aria-labelledby="crime-tab">
        <iframe id="waze-map" title="Waze map" src="https://embed.waze.com/iframe?zoom=11&lat=41.85&lon=-87.63"></iframe>
      </div>
      <div class="tab-pane fade" id="crimes-map" role="tabpanel" aria-labelledby="crime-tab">
        <iframe id="crimereports-map" title="Crime reports map" src="https://www.crimereports.com/city/Chicago%2C%20IL?is_widget=true#!/dashboard?current_tab=list&start_date=2018-11-24&end_date=2018-12-24&date_type=relative&shapeIds=&shape_id=false"></iframe>
      </div>
    </div>
  </div>
</section>
