<form {{on "submit" (if this.update this.update this.create)}}>
  <div class="form-group">
    <label id="incidentTypeLabel">Incident Type</label>
    <PowerSelect @ariaLabelledBy="incidentTypeLabel" @options={{this.model.incidentTypes}} @selected={{this.incident.type}} @placeholder="Select incident type" {{on "change" (mut this.incident.type)}} @renderInPlace={{true}} as |incidentType|>
      {{this.incidentType.description}}
    </PowerSelect>
  </div>
  <div class="form-group">
    <label for="nature">Nature of call</label>
    <Input @type="text" class="form-control" @id="nature" placeholder="e.g. Car vs semi w/ injuries" required={{true}} @value={{this.incident.nature}} />
  </div>
  <div class="form-group">
    <label for="locationAddress">Address</label>
    <Input @type="text" class="form-control" @id="locationAddress" @value={{this.location.address}} required={{true}} />
  </div>
  <div class="form-group">
    <label for="locationDescription">Location Description (additional details about address e.g. in alley)</label>
    <Input @type="text" class="form-control" @id="locationDescription" @value={{this.location.description}} />
  </div>
  {{#unless this.update}}
  <div class="form-group">
    <label for="notes">Notes/Narrative</label>
    <PellEditor @placeholder="Further description about the incident" @value={{this.note.body}} />
  </div>
  {{/unless}}
  <div class="form-group">
    <label id="priorityLabel">Priority</label>
    <PowerSelect @ariaLabelledBy="priorityLabel" @options={{this.model.incidentPriorities}} @selected={{this.incident.priority}} @placeholder="Choose priority level" {{on "change" (mut this.incident.priority)}} @renderInPlace={{true}} as |priority|>
      {{priority.value}}: {{priority.description}}
    </PowerSelect>
  </div>
  <div class="form-group">
    <label id="unitsLabel">Units attached</label>
    <PowerSelectMultiple @ariaLabelledBy="unitsLabel" {{on "search" this.searchUnit}} @selected={{this.units}} @placeholder="Attach units to call" {{on "change" this.setUnits}} @renderInPlace={{true}} as |unit|>
      {{#if unit.searchResult}}
        {{unit.agency}} - {{unit.level1}} {{unit.level2}} {{unit.level3}} {{unit.level4}}
      {{else}}
        {{unit.agency.name}} {{unit.radioId}}
      {{/if}}
    </PowerSelectMultiple>
  </div>
  <div class="form-group">
    <label id="statusLabel">Status</label>
    <PowerSelect @ariaLabelledBy="statusLabel" @options={{this.model.incidentStatuses}} @selected={{this.incident.status}} @placeholder="Choose incident status" {{on "change" (mut this.incident.status)}} @renderInPlace={{true}} as |status|>
      {{status.value}}: {{status.description}}
    </PowerSelect>
  </div>
  {{#if this.update}}
  <div class="form-group">
    <label id="dispositionLabel">Disposition</label>
    <PowerSelect @ariaLabelledBy="dispositionLabel" @options={{this.model.incidentDispositions}} @selected={{this.incident.disposition}} @placeholder="Choose incident disposition" {{on "change" (mut this.incident.disposition)}} @renderInPlace={{true}} as |disposition|>
      {{disposition.description}}
    </PowerSelect>
  </div>
  {{/if}}
  <div class="form-group">
    <button type="submit" class="btn btn-primary">{{if this.update "Update" "Create"}}</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" {{on "click" this.close}}>{{if this.update "Close Tab" "Cancel"}}</button>
    {{#if this.update}}<button class="btn btn-danger" type="button" {{on "click" this.delete}}>Delete</button>{{/if}}
  </div>
</form>