<audio
  id="videojs-player{{@idSuffix}}"
  class="video-js vjs-default-skin vjs-fluid"
  {{did-insert this.initializeMediaPlayer}}
  {{will-destroy this.teardownMediaPlayer}}
>
</audio>
<div id="timeline{{@idSuffix}}"></div>

{{#if (and (not @hideZoom) (not @disableWavesurfer))}}
<div class="input-group mb-3">
  <span class="input-group-text"><FaIcon @icon="search-minus" /></span>
  <input
    class="form-control"
    name="zoom"
    type="range"
    min={{this.minZoom}}
    max={{this.maxZoom}}
    step="1"
    value={{this.currentZoom}}
    {{on "change" this.zoom}}
    aria-label="Zoom control"
  />
  <span class="input-group-text"><FaIcon @icon="search-plus" /></span>
</div>
{{/if}}
