{{#if this.showForm}}
  <h5>{{if this.isUpdate "Edit" "New"}} Note</h5>
  <form {{on "submit" (if this.isUpdate this.update this.create)}}>
    <div class="form-group">
      <label for="author">Author</label>
      <Input @type="text" class="form-control" @id="author" @value={{this.note.author}} />
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <PellEditor @value={{this.note.body}} />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" {{on "click" (fn (mut this.showForm) false)}}>Cancel</button>
  </form>
{{else}}
  <div class="btn-group">
    {{#if this.update}}
      <button type="button" class="btn btn-danger btn-sm" aria-label="Delete note" {{on "click" this.delete}}>
        <span aria-hidden="true">&times;</span>
      </button>
      <button type="button" class="btn btn-sm btn-info" {{on "click" (fn (mut this.showForm) true)}}>Edit</button>
    {{else}}
      <button type="button" class="btn btn-info" {{on "click" (fn (mut this.showForm) true)}}>New Note</button>
    {{/if}}
  </div>
{{/if}}