{{#if this.session.isAuthenticated}}
<ul class="nav nav-tabs mt-0" role="tablist">
  {{!-- template-lint-disable no-invalid-role require-context-role --}}
  <li class="nav-item" role="presentation" aria-label="Subscriptions tab">
    <button class="nav-link active" id="subscriptions-tab" data-bs-toggle="tab" data-bs-target="#subscriptions-tab-pane" type="button" role="tab" aria-controls="subscriptions-tab-pane" aria-selected="true">
      Subscriptions
    </button>
  </li>
  <li class="nav-item" role="presentation" aria-label="Channels tab">
    <button class="nav-link" id="channels-tab" data-bs-toggle="tab" data-bs-target="#channels-tab-pane" type="button" role="tab" aria-controls="channels-tab-pane" aria-selected="false">
      Channels
    </button>
  </li>
  {{#if this.session.user.is_admin}}
  <li class="nav-item" role="presentation" aria-label="Admin tab">
    <button class="nav-link" id="admin-tab" data-bs-toggle="tab" data-bs-target="#admin-tab-pane" type="button" role="tab" aria-controls="admin-tab-pane" aria-selected="false" {{on "show.bs.tab" this.getNotificationsConfig}}>
      Admin
    </button>
  </li>
  {{/if}}
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="subscriptions-tab-pane" role="tabpanel" aria-labelledby="subscriptions-tab" tabindex="0">
    <div class="row mt-4">
      <div class="col-lg">
        <NotificationSubscriptionList @onEdit={{this.editSubscription}} />
      </div>
      <div class="col-lg">
        <NotificationSubscriptionForm @subscription={{this.currentSubscription}} @onSubmit={{this.clearCurrentSubscription}} />
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="channels-tab-pane" role="tabpanel" aria-labelledby="channels-tab" tabindex="0">
    <div class="row mt-4">
      <div class="col-lg">
        <NotificationChannelList @onEdit={{this.editChannel}} />
      </div>
      <div class="col-lg">
        <NotificationChannelForm @channel={{this.currentChannel}} @onSubmit={{this.clearCurrentChannel}} />
      </div>
    </div>
  </div>
  {{#if this.session.user.is_admin}}
  <div class="tab-pane fade" id="admin-tab-pane" role="tabpanel" aria-labelledby="admin-tab" tabindex="0">
    <pre class="mt-4">
{{json this.notificationsConfig}}
    </pre>
  </div>
  {{/if}}
</div>
{{else}}
<a href="https://api.crimeisdown.com/auth/redirect" referrerpolicy="unsafe-url" class="ptrn-button"><img src="/img/login-with-patreon.png" alt="Log in with Patreon"></a>
{{/if}}
