<h2 id="subscription-form-heading" class="fs-4">{{if @subscription "Edit" "Add a new"}} subscription</h2>
<form id="subscription-form" aria-label="New subscription form" {{on "submit" this.submit}} {{did-insert this.initData}}>
  <div class="mb-3">
    <label for="nameInput" class="form-label">Subscription name</label>
    <input type="text" class="form-control" id="nameInput" name="name" value="{{@subscription.name}}" required />
  </div>
  <div class="mb-3">
    <label for="keywordList" class="form-label">Keywords to match, one per line (will be interpreted as exact matches, case insensitive)</label>
    <textarea class="form-control" id="keywordList" rows="3" name="keywords" value="{{@subscription.keywordsString}}" placeholder="Examples: person shot&#10;still and box&#10;still in box"></textarea>
  </div>
  {{#if this.session.user.patreon_tier.features.transcript_geosearch}}
  <div class="mb-3" {{did-insert this.loadAutocomplete}}>
    <p class="fst-italic">Optionally, get notified of incidents near an address of your choice, based on either distance or current driving time. If provided along with keywords, will only notify if both keywords and location matches.</p>
    <label for="addressInput" class="form-label">Address</label>
    <input type="text" class="form-control" id="addressInput" name="address" value="{{@subscription.location.address}}" />
    <input type="hidden" id="latInput" name="lat" value="{{@subscription.location.geo.lat}}" />
    <input type="hidden" id="lngInput" name="lng" value="{{@subscription.location.geo.lng}}" />
    <div class="row mt-3">
      <div class="col">
        <label for="radiusInput" class="form-label">Radius (miles)</label>
        <input type="number" class="form-control" id="radiusInput" name="radius" value="{{@subscription.location.radius}}" min="0" max="100" step="0.1" />
      </div>
      <div class="col">
        <label for="travelTimeInput" class="form-label">Travel time (minutes)</label>
        <input type="number" class="form-control" id="travelTimeInput" name="travel_time" value="{{@subscription.location.travel_time}}" min="0" max="60" step="1" />
      </div>
    </div>
  </div>
  {{/if}}
  <fieldset class="row mb-3" name="topic" required>
    <legend>Talkgroups to match</legend>
    <i>Scroll for a full list.</i>
    <div class="talkgroup-list row">
      {{#each this.availableTalkgroups as |system|}}
      <div class="col-12 mt-3">
        <h4>{{system.group}}</h4>
      </div>
      {{#each system.talkgroups as |dept|}}
      <div class="col-12 mt-3">
        <p><strong>{{dept.group}}</strong></p>
      </div>
      {{#each dept.talkgroups as |tg|}}
      <div class="col-md-4">
        <div class="form-check">
          {{#if @subscription}}
          <input class="form-check-input" type="checkbox" value="{{tg.value}}" id="talkgroup_{{tg.value}}" name="topic"
            checked={{includes @subscription.topics tg.value}}>
          {{else}}
          <input class="form-check-input" type="checkbox" value="{{tg.value}}" id="talkgroup_{{tg.value}}" name="topic">
          {{/if}}
          <label class="form-check-label" for="talkgroup_{{tg.value}}">
            {{tg.label}}
          </label>
        </div>
      </div>
      {{/each}}
      {{/each}}
      {{/each}}
    </div>
  </fieldset>
  <fieldset class="row mb-3" name="notification_channels" required>
    <legend>Notification channels to send on</legend>
    <NotificationChannelList @form="true" @selectedChannels={{@subscription.notification_channels}} />
  </fieldset>
  <button type="submit" class="btn btn-primary">{{if @subscription "Update" "Add"}} Subscription</button>
</form>
