{{#unless (or @form @channels)}}
<h2 class="fs-4">Your available notification channels</h2>
{{/unless}}
{{#unless this.channels}}
<p>No channels. Add one!</p>
{{/unless}}
<ul class="list-group">
{{#each this.channels as |channel|}}
{{#if (or (not @channels) (includes @channels channel.intId))}}
  <li class="list-group-item">
    {{#if @form}}
      {{#if @selectedChannels}}
      <input class="form-check-input" type="checkbox" value="{{channel.id}}" id="channel_{{channel.id}}" name="notification_channels" checked={{includes @selectedChannels channel.intId}}>
      {{else}}
      <input class="form-check-input" type="checkbox" value="{{channel.id}}" id="channel_{{channel.id}}" name="notification_channels">
      {{/if}}
      <label class="form-check-label" for="channel_{{channel.id}}">
        <span class="badge bg-primary ms-2 me-2">
          {{channel.serviceName}}
        </span>
        {{channel.path}}
      </label>
    {{else}}
      <div class="row">
        <div class="col">
          <span class="badge bg-primary me-2">
            {{channel.serviceName}}
          </span>
          {{channel.path}}
        </div>
        {{#unless @channels}}
        <div class="col-3 d-flex justify-content-end">
          <button type="button" class="btn btn-secondary btn-sm me-2" aria-label="Edit" {{on "click" (fn @onEdit channel)}}><FaIcon @icon="pencil-alt" /></button>
          <button type="button" class="btn btn-danger btn-sm" aria-label="Delete" {{on "click" (fn this.deleteChannel channel)}}><FaIcon @icon="trash-alt" /></button>
        </div>
        {{/unless}}
      </div>
    {{/if}}
  </li>
{{/if}}
{{/each}}
</ul>
