<div id="ucr-search">
  <form {{on "submit" this.lookupUCR}}>
    <label for="ucr">UCR (Uniform Crime Reporting) Code to lookup</label>
    <div class="input-group">
      <Input class="form-control" name="ucr" placeholder="041A" @type="text" @value={{this.ucrCode}} aria-label="UCR (Uniform Crime Reporting) Code to lookup" />
      <button class="btn btn-primary" type="submit">Define</button>
    </div>
  </form>
  <div class="results">
    <table class="table table-bordered table-condensed">
      <tbody>
      <tr>
        <th scope="row">Primary Description</th>
        <td id="primary_desc">{{this.ucr.primaryDesc}}</td>
      </tr>
      <tr>
        <th scope="row">Secondary Description</th>
        <td id="secondary_desc">{{this.ucr.secondaryDesc}}</td>
      </tr>
      <tr>
        <th scope="row">Index Code?</th>
        <td id="index_code">{{this.ucr.indexCode}}</td>
      </tr>
      </tbody>
    </table>
    <p>The full list of UCR codes and information about them can be found in the <a href="http://directives.chicagopolice.org/forms/CPD-63.451_Table.pdf">CPD's Incident Reporting Guide</a>.</p>
  </div>
</div>
