<div id="radio-search">
  <form {{on "submit" this.lookupRadioId}}>
    <label for="radioid">Radio ID to search</label>
    <div class="input-group">
      <Input class="form-control" name="radioid" placeholder="1234, 599, 2-1-8, 100X" @type="text" @value={{this.radioId}} aria-label="Radio ID to search" />
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>
  <div class="results">
    <table class="table table-bordered table-condensed">
      <tbody>
      <tr>
        <th scope="row">Agency</th>
        <td id="agency">{{this.radio.agency}}</td>
      </tr>
      <tr>
        <th scope="row">Level 1 (Bureau)</th>
        <td id="level1">{{this.radio.level1}}</td>
      </tr>
      <tr>
        <th scope="row">Level 2 (Division)</th>
        <td id="level2">{{this.radio.level2}}</td>
      </tr>
      <tr>
        <th scope="row">Level 3 (Section)</th>
        <td id="level3">{{this.radio.level3}}</td>
      </tr>
      <tr>
        <th scope="row">Level 4 (Unit/Assignment)</th>
        <td id="level4">{{this.radio.level4}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>