<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="fs-3">Settings</h1>
    <p>Various settings for the developer</p>

    <form {{on "submit" this.update}}>
      {{#each-in this.config.ENV as |key value|}}
      <div class="form-floating mb-3">
        <Input @type="text" class="form-control" id="{{key}}" name="{{key}}" @value={{value}} placeholder="Value for {{key}}" />
        <label for="{{key}}" class="form-label">{{key}}</label>
      </div>
      {{/each-in}}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
