{{#if (eq this.hasAccess undefined)}}
<p {{did-insert this.login}}>Logging in...</p>
{{else}}
<div class="search-panel row" {{did-insert this.setupSearch}}>
  <div class="search-panel__filters col-md-3">
    {{#if (eq this.hasAccess false)}}
    <p class="alert alert-danger">
      {{#if this.session.isAuthenticated}}
      You are not at a high enough membership tier. Please upgrade your membership on Patreon to the Sergeant tier or above to access.
      {{else}}
      <a href="https://api.crimeisdown.com/auth/redirect" referrerpolicy="unsafe-url" class="ptrn-button"><img src="/img/login-with-patreon.png" alt="Log in with Patreon"></a>
      <br>or<br>
      <a href="https://www.patreon.com/bePatron?u=4805116" referrerpolicy="unsafe-url" class="ptrn-button"><img src="/img/become-a-patron.png" alt="Become a Patron!"></a>
      <br>to use the full version. You must pledge at least $5/mo to access.
      {{/if}}
    </p>
    {{/if}}
    <div id="auto-refresh" class="mb-2">
      <div class="input-group">
        <span class="input-group-text" id="refresh-interval-val">
        Auto Refresh:
        {{#if (eq this.autoRefreshInterval "0")}}
          Off
        {{else}}
          {{this.autoRefreshInterval}}s
        {{/if}}
        </span>
        {{#if this.hasAccess}}
        <Input @type="range" class="form-control form-range" min="0" max="120" step="10" id="refresh-interval" @value={{this.autoRefreshInterval}} {{on "change" this.restartAutoRefresh}} />
        {{else}}
        <Input @type="range" class="form-control form-range disabled" min="0" max="120" step="10" id="refresh-interval" @value={{this.autoRefreshInterval}} disabled />
        {{/if}}
      </div>
      {{#unless this.hasAccess}}
      <p class="caption">This demo does not have live updates as it runs off of a small demonstration dataset.</p>
      {{/unless}}
    </div>
    <div class="accordion">
      <h2 id="filtersHeadingAccordion" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="true" aria-controls="filters">
        <button class="accordion-button" type="button" >
          Filters
        </button>
      </h2>
    </div>
    <h2 id="filtersHeading">Filters</h2>
    <div id="filters" class="collapse">
      <div id="clear-refinements"></div>
      <div class="accordion accordion-flush" id="filterOptionsAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="dept-heading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#dept-collapse" aria-expanded="false" aria-controls="dept-collapse">
                  Departments
                </button>
              </h2>
              <div id="dept-collapse" class="accordion-collapse collapse show" aria-labelledby="dept-heading">
                <div id="dept-menu" class="accordion-body"></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="tg-heading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tg-collapse" aria-expanded="false" aria-controls="tg-collapse">
                  Talkgroups
                </button>
              </h2>
              <div id="tg-collapse" class="accordion-collapse collapse show" aria-labelledby="tg-heading">
                <div id="tg-menu" class="accordion-body"></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="units-heading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#units-collapse" aria-expanded="false" aria-controls="units-collapse">
                  Units
                </button>
              </h2>
              <div id="units-collapse" class="accordion-collapse collapse show" aria-labelledby="units-heading">
                <div id="units-menu" class="accordion-body"></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="radios-heading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#radios-collapse" aria-expanded="false" aria-controls="radios-collapse">
                  Radio IDs
                </button>
              </h2>
              <div id="radios-collapse" class="accordion-collapse collapse" aria-labelledby="radios-heading">
                <div id="radios-menu" class="accordion-body"></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="srclist-heading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#srclist-collapse" aria-expanded="false" aria-controls="srclist-collapse">
                  Sources
                </button>
              </h2>
              <div id="srclist-collapse" class="accordion-collapse collapse" aria-labelledby="srclist-heading">
                <div id="srclist-menu" class="accordion-body"></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="calltime-heading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#time-input-collapse" aria-expanded="false" aria-controls="time-input-collapse">
                  Call Time
                </button>
              </h2>
              <div id="time-input-collapse" class="accordion-collapse collapse show" aria-labelledby="calltime-heading">
                <div id="time-input" class="accordion-body">
                  <div class="col">
                    <label for="minStartTime">From Time</label>
                    <div class="input-group date">
                      <EmberFlatpickr name="minStartTime" @id="minStartTime" @allowInput={{true}} class="form-control" @defaultDate={{this.flatpickrOptions.minDefaultDate}} @enableTime={{this.flatpickrOptions.enableTime}} @dateFormat={{this.flatpickrOptions.dateFormat}} @date={{this.minStartTime}} @onChange={{null}} @onClose={{this.setStartTimeRange}} @altInput={{this.flatpickrOptions.altInput}} @altFormat={{this.flatpickrOptions.altFormat}} />
                      <span class="input-group-text"><FaIcon @icon="calendar" /></span>
                    </div>
                  </div>
                  <div class="col">
                    <label for="maxStartTime">To Time</label>
                    <div class="input-group date">
                      <EmberFlatpickr name="maxStartTime" @id="maxStartTime" @allowInput={{true}} class="form-control" @defaultDate={{this.flatpickrOptions.maxDefaultDate}} @enableTime={{this.flatpickrOptions.enableTime}} @dateFormat={{this.flatpickrOptions.dateFormat}} @date={{this.maxStartTime}} @onChange={{null}} @onClose={{this.setStartTimeRange}} @altInput={{this.flatpickrOptions.altInput}} @altFormat={{this.flatpickrOptions.altFormat}} />
                      <span class="input-group-text"><FaIcon @icon="calendar" /></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="search-panel__results col">
    {{#if (eq this.hasAccess false)}}
    <h1 class="display-5">Call Transcript Search Demo</h1>
    {{else}}
    <h1 class="display-5 sr-only">Call Transcript Search</h1>
    {{/if}}
    <div class="row mb-1">
      <div id="searchbox" class="col mb-2"></div>
      <div id="sort-by" class="col-md-3 mb-2"></div>
    </div>
    <div id="current-refinements"></div>
    <div id="stats" class="mb-1"></div>
    <div id="hits" class="ais-Hits">
      <ol class="ais-Hits-list">
        {{#each this.hits key="id" as |hit|}}
        <li class="ais-Hits-item">
          <div>
            <h4 class="fs-5" title="{{hit.talkgroup_description}}">
              {{hit.talkgroup_tag}} - {{hit.talkgroup_group}}
            </h4>
            <p>
              <strong>
                {{hit.start_time_string}} ({{hit.relative_time}})
              </strong>
              {{hit.time_warning}}
            </p>
            <p>
              <span class="badge bg-secondary me-1">
                TG {{hit.talkgroup}}
              </span>
              <span class="badge bg-secondary me-1">
                {{hit.talkgroup_group_tag}}
              </span>
              <span
                class="badge {{if (eq hit.audio_type "digital") "bg-danger" "bg-primary"}} me-1"
              >
                {{hit.audio_type}}
              </span>
              <span class="badge bg-secondary me-1">
                Duration: {{hit.call_length}}s
              </span>
              <button
                class="badge btn btn-sm btn-info"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#metadata-{{hit.id}}"
                aria-expanded="true"
                aria-controls="metadata-{{hit.id}}"
              >
                Open Raw Metadata
              </button>
            </p>
            <div class="collapse mt-3 mb-3" id="metadata-{{hit.id}}">
              <pre>{{hit.raw_metadata}}</pre>
            </div>
            <audio
              id="videojs-player-{{hit.id}}"
              class="{{if this.useMediaPlayerComponent "video-js vjs-default-skin vjs-fill" "call-audio"}}"
              src="{{hit.raw_audio_url}}"
              controls
              preload="none"
            ></audio>
            {{#if this.useMediaPlayerComponent}}
            <MediaPlayer @src="{{hit.raw_audio_url}}" @type="audio/mpeg" @idSuffix="-{{hit.id}}" @shadow="true" />
            <div id="timeline-{{hit.id}}" class="d-none"></div>
            {{/if}}
            <p>
              {{!-- template-lint-disable no-triple-curlies --}}
              {{{hit._highlightResult.transcript.value}}}
            </p>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
    <div id="pagination" class="mt-3"></div>
  </div>
</div>

{{/if}}
