{{#if (eq this.isLoggedIn undefined)}}
<p {{did-insert this.login}}>Logging in...</p>
{{else}}
<div class="search-panel row" {{did-insert this.setupSearch}}>
  <div class="search-panel__filters col-md-3">
    {{#if (eq this.isLoggedIn false)}}
    <p>
      <a href="https://api.crimeisdown.com/auth/redirect" referrerpolicy="unsafe-url" class="ptrn-button"><img src="/img/login-with-patreon.png" alt="Log in with Patreon"></a>
      <br>or<br>
      <a href="https://www.patreon.com/bePatron?u=4805116" referrerpolicy="unsafe-url" class="ptrn-button"><img src="/img/become-a-patron.png" alt="Become a Patron!"></a>
      <br>to use the full version. You must pledge at least $5/mo to access.
    </p>
    {{/if}}
    <div id="auto-refresh" class="mb-2">
      <div class="input-group">
        <span class="input-group-text" id="refresh-interval-val">
        Auto Refresh:
        {{#if (eq this.autoRefreshInterval "0")}}
          Off
        {{else}}
          {{this.autoRefreshInterval}}s
        {{/if}}
        </span>
        {{#if this.isLoggedIn}}
        <Input @type="range" class="form-control form-range" min="0" max="120" step="10" id="refresh-interval" @value={{this.autoRefreshInterval}} {{on "change" this.restartAutoRefresh}} />
        {{else}}
        <Input @type="range" class="form-control form-range disabled" min="0" max="120" step="10" id="refresh-interval" @value={{this.autoRefreshInterval}} disabled />
        {{/if}}
      </div>
      {{#unless this.isLoggedIn}}
      <p class="caption">This demo does not have live updates as it runs off of a small demonstration dataset.</p>
      {{/unless}}
    </div>
    <div class="accordion mb-3" id="filtersAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="filtersHeading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="true" aria-controls="filters">
            Filters
          </button>
        </h2>
        <div id="filters" class="accordion-collapse collapse" aria-labelledby="filtersHeading" data-bs-parent="#filtersAccordion">
          <div class="accordion-body">
            <h5 id="tg-heading">Talkgroups</h5>
            <div id="tg-menu" class="mb-4"></div>
            <h5 id="radioid-heading">Radio IDs</h5>
            <p class="text-muted caption mb-0">* Digital transmissions only</p>
            <div id="radioid-menu" class="mb-4"></div>
            <h5 id="time-heading" class="mb-0">Call Time</h5>
            <div id="time-input">
              <div class="col">
                <label for="minStartTime">From Time</label>
                <div class="input-group date">
                  <EmberFlatpickr name="minStartTime" @id="minStartTime" @allowInput={{true}} class="form-control" @defaultDate={{this.flatpickrOptions.minDefaultDate}} @enableTime={{this.flatpickrOptions.enableTime}} @dateFormat={{this.flatpickrOptions.dateFormat}} @date={{this.minStartTime}} @onChange={{null}} @onClose={{this.setMinStartTime}} @altInput={{this.flatpickrOptions.altInput}} @altFormat={{this.flatpickrOptions.altFormat}} />
                  <span class="input-group-text"><FaIcon @icon="calendar" /></span>
                </div>
              </div>
              <div class="col">
                <label for="maxStartTime">To Time</label>
                <div class="input-group date">
                  <EmberFlatpickr name="maxStartTime" @id="maxStartTime" @allowInput={{true}} class="form-control" @defaultDate={{this.flatpickrOptions.maxDefaultDate}} @enableTime={{this.flatpickrOptions.enableTime}} @dateFormat={{this.flatpickrOptions.dateFormat}} @date={{this.maxStartTime}} @onChange={{null}} @onClose={{this.setMaxStartTime}} @altInput={{this.flatpickrOptions.altInput}} @altFormat={{this.flatpickrOptions.altFormat}} />
                  <span class="input-group-text"><FaIcon @icon="calendar" /></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="search-panel__results col">
    {{#if (eq this.isLoggedIn false)}}
    <h1 class="display-5">Call Transcript Search Demo</h1>
    {{else}}
    <h1 class="display-5 sr-only">Call Transcript Search</h1>
    {{/if}}
    <div class="row mb-1">
      <div id="searchbox" class="col mb-2"></div>
      <div id="sort-by" class="col-md-3 mb-2"></div>
    </div>
    <div id="current-refinements"></div>
    <div id="stats" class="mb-1"></div>
    <div id="hits"></div>
    <div id="pagination" class="mt-3"></div>
  </div>
</div>

{{!-- {{#each this.hits as |hit|}}
{{#if this.useMediaPlayerComponent}}
<MediaPlayer @src="{{hit.raw_audio_url}}" @type="audio/mpeg" @idSuffix="-{{hit.id}}" @shadow="true" />
<div id="timeline-{{hit.id}}" class="d-none"></div>
{{else}}
<audio
  id="player-{{hit.id}}"
  src="{{hit.raw_audio_url}}"
  preload="none"
  controls
></audio>
{{/if}}
{{/each}} --}}


{{/if}}
