<h1 class="visually-hidden">Call Transcript Search</h1>
<div class="row mb-2 {{if (eq this.hasAccess undefined) "d-none" ""}}">
  <div class="col-lg-3 d-none d-lg-block">
    <h2 class="fs-4">Filters</h2>
  </div>
  <div id="searchbox" class="col-lg mb-2 mb-lg-0"></div>
  <div id="sort-by" class="col-lg-auto col"></div>
  <div id="hits-per-page" class="col-lg-auto col"></div>
  <div id="option-buttons" class="col-md-auto d-flex justify-content-end">
    <button type="button" class="btn btn-primary d-lg-none" data-bs-toggle="collapse" data-bs-target="#filters" aria-controls="filters">
      <span class="visually-hidden">Filters</span>
      <FaIcon @icon="filter" />
    </button>
    {{#if this.hasAccess}}
    {{#if this.session.user.patreon_tier.features.transcript_notifications}}
    <button type="button" class="btn btn-info text-bg-info" data-bs-toggle="modal" data-bs-target="#transcriptNotifications" aria-controls="transcriptNotifications">
      <span class="visually-hidden">Notify Me</span>
      <FaIcon @icon="bell" />
    </button>
    <TranscriptNotificationModal />
    {{!-- <LinkTo @route="notifications" class="btn btn-info text-white">
      <span class="visually-hidden">Notify Me</span>
      <FaIcon @icon="bell" />
    </LinkTo> --}}
    {{/if}}
    <div id="refresh-buttons" class="btn-group" role="group" aria-label="Refresh buttons">
      <button type="button" class="btn btn-primary" {{on "click" this.refresh}}>
        <span class="visually-hidden">Refresh</span>
        <FaIcon @icon="redo" class="{{if this.autoRefreshInterval "spin" ""}}" />
      </button>
      <button type="button" class="btn btn-outline-primary {{if this.autoRefreshInterval "active" ""}}" data-bs-toggle="button" {{on "click" this.toggleAutoRefresh}}>
        Auto-Refresh
      </button>
    </div>
    {{/if}}
    <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#settings" aria-controls="settings">
      <span class="visually-hidden">Settings</span>
      <FaIcon @icon="gear" />
    </button>
    <button type="button" class="btn btn-primary" {{on "click" this.saveSearch}}>
      <span class="visually-hidden">Save</span>
      <FaIcon @icon="save" />
    </button>
  </div>
</div>

{{#if (eq this.hasAccess undefined)}}
<p {{did-insert this.setupSearch}}>Logging in...</p>
{{/if}}
<div class="search-panel row {{if (eq this.hasAccess undefined) "d-none" ""}}">
  <div class="search-panel__filters col-lg-3">
    {{#if (eq this.indexName this.demoIndexName)}}
    <div class="alert alert-danger">
      {{#if this.session.isAuthenticated}}
      <p>
        You are currently using a demo version with old transmissions. To search the latest scanner traffic, please upgrade your membership on Patreon to the
        {{#if (and this.onTranscriptMapPage (not this.session.user.patreon_tier.features.transcript_geosearch))}}
        Captain ($20/mo)
        {{else}}
        Sergeant ($5/mo)
        {{/if}}
        tier or above to access.
      </p>
      {{else}}
      <p>You are currently using a demo version with old transmissions. To search the latest scanner traffic, become a patron of at least $5/mo and then <a href="{{ this.config.ENV.API_BASE_URL }}/auth/redirect" referrerpolicy="unsafe-url">login</a>.</p>
      <p class="mt-2"><a href="https://www.patreon.com/bePatron?u=4805116" referrerpolicy="unsafe-url" class="ptrn-button"><img class="img-fluid" src="/img/become-a-patron.png" alt="Become a Patron!"></a></p>
      {{/if}}
    </div>
    {{else}}
      {{#unless (eq this.indexName this.latestIndexName)}}
      <div class="alert alert-warning">
        <p>You are using an old search index ({{this.indexName}}). To search the latest scanner traffic, please switch to the <a href="javascript:;" {{on "click" (fn this.setIndexName this.latestIndexName)}}>latest index</a>.</p>
      </div>
      {{/unless}}
    {{/if}}
    <div id="filters" class="collapse">
      <h2 id="filtersHeading" class="d-lg-none">Filters</h2>
      <div class="row mb-4">
        <div id="clear-refinements" class="col"></div>
        <div id="reset-refinements" class="col">
          <button type="button" class="ais-ClearRefinements-button" {{on "click" this.resetFilters}}><span>Default filters</span></button>
        </div>
        <div id="chicago-refinements" class="col">
          <button type="button" class="ais-ClearRefinements-button" {{on "click" this.setChicagoFilters}}><span>Chicago only</span></button>
        </div>
      </div>
      <div class="accordion accordion-flush" id="filterOptionsAccordion">
        <div class="accordion-item">
          <h3 class="accordion-header" id="saved-h-heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#saved-h-collapse" aria-expanded="false" aria-controls="tg-h-collapse">
              Saved Searches
            </button>
          </h3>
          <div id="saved-h-collapse" class="accordion-collapse collapse show" aria-labelledby="saved-h-heading">
            <div id="saved-h-menu" class="accordion-body">
              {{#unless this.savedSearches}}
              No saved searches.
              {{/unless}}
              {{#each this.savedSearches as |search|}}
              <ul class="list-group list-group-horizontal pb-2">
                <a href="{{search.latestUrl}}" class="list-group-item list-group-item-action">
                  {{search.name}}
                </a>
                {{#if search.is_global}}
                <li class="list-group-item">
                  <FaIcon @icon="earth-americas" />
                </li>
                {{/if}}
                {{#if (eq search.user_id this.session.user.id)}}
                <button type="button" class="btn btn-secondary btn-sm list-group-item" aria-label="Update" {{on "click" (fn this.updateSavedSearch search)}}>
                  <FaIcon @icon="pencil" />
                </button>
                <button type="button" class="btn btn-danger btn-sm list-group-item" aria-label="Delete" {{on "click" (fn this.deleteSavedSearch search)}}>
                  <FaIcon @icon="trash-alt" />
                </button>
                {{/if}}
              </ul>
              {{/each}}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="tg-h-heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tg-h-collapse" aria-expanded="false" aria-controls="tg-h-collapse">
              System / Department / Talkgroup
            </button>
          </h3>
          <div id="tg-h-collapse" class="accordion-collapse collapse show" aria-labelledby="tg-h-heading">
            <div id="tg-h-menu" class="accordion-body"></div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="system-heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#system-collapse" aria-expanded="false" aria-controls="system-collapse">
              Radio System
            </button>
          </h3>
          <div id="system-collapse" class="accordion-collapse collapse show" aria-labelledby="system-heading">
            <div id="system-menu" class="accordion-body"></div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="dept-heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#dept-collapse" aria-expanded="false" aria-controls="dept-collapse">
              Departments
            </button>
          </h3>
          <div id="dept-collapse" class="accordion-collapse collapse show" aria-labelledby="dept-heading">
            <div id="dept-menu" class="accordion-body"></div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="tg-heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tg-collapse" aria-expanded="false" aria-controls="tg-collapse">
              Talkgroups
            </button>
          </h3>
          <div id="tg-collapse" class="accordion-collapse collapse show" aria-labelledby="tg-heading">
            <div id="tg-menu" class="accordion-body"></div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="tg-type-heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tg-type-collapse" aria-expanded="false" aria-controls="tg-type-collapse">
              Talkgroup Type
            </button>
          </h3>
          <div id="tg-type-collapse" class="accordion-collapse collapse show" aria-labelledby="tg-type-heading">
            <div id="tg-type-menu" class="accordion-body"></div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="units-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#units-collapse" aria-expanded="false" aria-controls="units-collapse">
              Units
            </button>
          </h3>
          <div id="units-collapse" class="accordion-collapse collapse" aria-labelledby="units-heading">
            <div id="units-menu" class="accordion-body"></div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="radios-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#radios-collapse" aria-expanded="false" aria-controls="radios-collapse">
              Radio IDs
            </button>
          </h3>
          <div id="radios-collapse" class="accordion-collapse collapse" aria-labelledby="radios-heading">
            <div id="radios-menu" class="accordion-body"></div>
          </div>
        </div>
        {{!-- <div class="accordion-item">
          <h3 class="accordion-header" id="srclist-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#srclist-collapse" aria-expanded="false" aria-controls="srclist-collapse">
              Sources
            </button>
          </h3>
          <div id="srclist-collapse" class="accordion-collapse collapse" aria-labelledby="srclist-heading">
            <div id="srclist-menu" class="accordion-body"></div>
          </div>
        </div> --}}
        <div class="accordion-item">
          <h3 class="accordion-header" id="calltime-heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#time-input-collapse" aria-expanded="false" aria-controls="time-input-collapse">
              Call Time
            </button>
          </h3>
          <div id="time-input-collapse" class="accordion-collapse collapse show" aria-labelledby="calltime-heading">
            <div id="time-input" class="accordion-body">
              <div class="col">
                <label for="minStartTime">From Time</label>
                <div class="input-group date">
                  <EmberFlatpickr name="minStartTime" @id="minStartTime" @allowInput={{true}} class="form-control" @defaultDate={{this.flatpickrOptions.minDefaultDate}} @enableTime={{this.flatpickrOptions.enableTime}} @dateFormat={{this.flatpickrOptions.dateFormat}} @date={{this.minStartTime}} @onChange={{null}} @onClose={{this.setStartTimeRange}} @altInput={{this.flatpickrOptions.altInput}} @altFormat={{this.flatpickrOptions.altFormat}} />
                  <span class="input-group-text"><FaIcon @icon="calendar" /></span>
                </div>
              </div>
              <div class="col">
                <label for="maxStartTime">To Time</label>
                <div class="input-group date">
                  <EmberFlatpickr name="maxStartTime" @id="maxStartTime" @allowInput={{true}} class="form-control" @defaultDate={{this.flatpickrOptions.maxDefaultDate}} @enableTime={{this.flatpickrOptions.enableTime}} @dateFormat={{this.flatpickrOptions.dateFormat}} @date={{this.maxStartTime}} @onChange={{null}} @onClose={{this.setStartTimeRange}} @altInput={{this.flatpickrOptions.altInput}} @altFormat={{this.flatpickrOptions.altFormat}} />
                  <span class="input-group-text"><FaIcon @icon="calendar" /></span>
                </div>
              </div>
              <div class="alert alert-warning mt-3" role="alert">
                You can only search one month at a time due to system limitations. Please limit your search to a month or less. Archives go back to January 2023.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="search-panel__results col">
    <div id="settings" class="collapse row justify-content-between mb-1">
      <div class="col-md-auto">
        <div class="form-check form-switch mt-2 mb-1">
          <Input class="form-check-input" @type="checkbox" role="switch" id="waveform-toggle" @checked={{this.useMediaPlayerComponent}} aria-checked="{{this.useMediaPlayerComponent}}" />
          <label class="form-check-label" for="waveform-toggle">Show waveform when playing audio</label>
        </div>
      </div>
    </div>
    <div id="current-refinements" class="mt-2"></div>
    <div id="stats" class="mb-1"></div>
    {{#if this.onTranscriptMapPage}}
    <h5>Experimental map of radio calls</h5>
    {{#if (and this.hasAccess (not this.session.user.patreon_tier.features.transcript_geosearch))}}
    <p class="text-danger">Sorry, you must be at the Captain tier or above on Patreon to access the map of calls (currently an experimental feature).</p>
    {{/if}}
    <div id="geo-search" class="ais-GeoSearch-map mb-1"></div>
    {{/if}}
    <div id="hits" class="ais-Hits">
      <ol class="ais-Hits-list">
        {{#each this.hits key="id" as |hit|}}
        <li id="hit-{{hit.id}}" class="ais-Hits-item{{if (eq hit.id this.selectedHit) " selected" ""}}" {{did-insert this.didInsertHit}}>
          <div class="row">
            <div class="col-lg-5 collapse d-md-block order-lg-2" id="hit-{{hit.id}}-metadata-col">
              <p class="d-none d-md-block">
                <strong>
                  <a href="{{hit.permalink}}"><FaIcon @icon="link" /> {{hit.start_time_string}}</a>
                </strong>
                {{hit.time_warning}}
                <span class="fst-italic fs-7">({{hit.relative_time}})</span>
              </p>
              <p>
                <span class="badge text-bg-light me-1">
                  Duration: {{hit.call_length}}s
                </span>
                <a href="https://openmhz.com/system/{{hit.short_name}}?filter-type=talkgroup&filter-code={{hit.talkgroup}}&time={{hit.start_time_ms}}" class="badge text-bg-secondary me-1" target="_blank" rel="noopener noreferrer">
                  TG {{hit.talkgroup}}
                </a>
                <span
                  class="badge text-bg-secondary me-1"
                >
                  {{hit.audio_type}}
                </span>
                {{#if hit.encrypted}}
                <span class="badge text-bg-warning me-1" data-bs-toggle="tooltip" title="From an official Broadcastify.com stream of an encrypted channel">
                  Encrypted / Delayed 30mins
                </span>
                {{/if}}
                {{#if (eq this.session.user.id 1)}}
                <button
                  class="badge text-bg-light btn btn-sm btn-light"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#metadata-{{hit.id}}"
                >
                  Raw Data
                </button>
                {{/if}}
              </p>
              <p class="fst-italic">{{hit.talkgroup_group}} / <strong>{{hit.talkgroup_description}}</strong></p>
              {{#if hit.showPlayer}}
                {{#if this.useMediaPlayerComponent}}
                <MediaPlayer @src="{{hit.raw_audio_url}}" @type="audio/mpeg" @idSuffix="-{{hit.id}}" @hideZoom="true" @autoplay="true" />
                {{else}}
                <audio
                  id="call-audio-{{hit.id}}"
                  class="call-audio"
                  src="{{hit.raw_audio_url}}"
                  controls
                  autoplay
                ></audio>
                {{/if}}
                <a href="{{hit.raw_audio_url}}" class="btn btn-sm btn-primary mt-2" target="_blank" rel="noopener noreferrer">
                  <FaIcon @icon="download" /> Download Audio
                </a>
              {{/if}}
            </div>
            <div class="col">
              <h4 class="fs-6">
                <button type="button" class="btn btn-sm btn-success" {{on "click" (fn this.playAudio hit)}}>
                  <FaIcon @icon="play" /><span class="visually-hidden">Play Audio</span>
                </button>
                {{#if (eq hit.id this.selectedHit)}}
                <a class="btn btn-sm btn-warning" href="{{hit.contextUrl}}" {{on "click" (fn this.getContext hit)}}>
                  <FaIcon @icon="star" />
                </a>
                {{else}}
                <a class="btn btn-sm btn-primary" href="{{hit.contextUrl}}" {{on "click" (fn this.getContext hit)}}>
                  <FaIcon @icon="filter" />
                </a>
                {{/if}}
                <button type="button" class="btn btn-sm btn-info d-md-none" data-bs-toggle="collapse" data-bs-target="#hit-{{hit.id}}-metadata-col" aria-expanded="false" aria-controls="hit-{{hit.id}}-metadata-col">
                  <FaIcon @icon="circle-info" /><span class="visually-hidden">More Details</span>
                </button>
                {{hit.talkgroup_tag}}
                <span class="badge text-bg-{{hit.talkgroup_group_tag_color}} ms-1 me-1">
                  {{hit.talkgroup_group_tag}}
                </span>
              </h4>
              {{#if this.onTranscriptMapPage}}
              <p><span class="badge text-bg-light fs-6"><FaIcon @icon="location-dot" /> {{hit.geo_formatted_address}}</span></p>
              {{/if}}
              <p class="text-small d-md-none">
                <strong>
                  <a href="{{hit.permalink}}">{{hit.start_time_string}}</a>
                </strong>
                {{hit.time_warning}}
                <span class="fst-italic fs-7">({{hit.relative_time}})</span>
              </p>
              <blockquote class="blockquote">
                {{#each hit.raw_transcript as |segment|}}
                  <p>
                    {{#if (get segment "0")}}
                    {{!-- template-lint-disable no-triple-curlies --}}
                    <a href="{{get segment "0.filter_link"}}" title="Radio ID {{get segment "0.src"}}" {{on "click" (fn this.filterSrc (get segment "0") hit)}}>{{{get segment "0.label"}}}</a>{{#if (get segment "0.address")}} <a href="javascript:;" data-bs-toggle="tooltip" data-bs-title="{{{get segment "0.address"}}}"><FaIcon @icon="map-marker-alt" /></a>{{/if}}:
                    {{/if}}
                    {{!-- template-lint-disable no-triple-curlies --}}
                    {{{get segment "1"}}}
                  </p>
                {{/each}}
              </blockquote>
            </div>
          </div>
          {{#if (eq this.session.user.id 1)}}
          <div class="modal fade metadata-modal" id="metadata-{{hit.id}}" tabindex="-1" aria-labelledby="metadata-modal-heading-{{hit.id}}" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="metadata-modal-heading-{{hit.id}}">Raw Result Data</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <pre>{{hit.json}}</pre>
                </div>
              </div>
            </div>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
    </div>
    <div id="pagination" class="mt-3"></div>
  </div>
</div>
