<h3>Live streaming from CrimeIsDown</h3>
<Alert @key="bcfy-enc-disclaimer" @type="info">
  <img class="bcfy-favicon" src="https://s.broadcastify.com/icons/favicon-96x96.png" title="Audio provided by Broadcastify.com" alt="Broadcastify.com" /> streams are provided by Broadcastify.com, for encrypted radio channels. Radio traffic is delayed 30-35 minutes. CrimeIsDown.com has no control over these streams and is not affiliated with Broadcastify.
</Alert>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <fieldset {{on "change" this.changeStreams}} id="streamlist">
        <legend>Check the streams to play</legend>
        <div class="stream-options mb-3">
        {{#if this.streams.length}}
          {{#each this.streams as |streamOption|}}
            <div class="form-check">
              <input class="form-check-input" id="checkbox-{{streamOption.name}}" type="checkbox" name="stream" value={{streamOption.name}} disabled={{if streamOption.disabled "disabled" ""}}>
              <label class="form-check-label" for="checkbox-{{streamOption.name}}">{{streamOption.desc}}</label>
              <LinkTo @route="audio-live" @model={{streamOption.name}} target="_blank" title={{concat "Listen to only " streamOption.desc}}><FaIcon @icon="external-link" /></LinkTo>
              {{#if streamOption.broadcastify}}
              <a href="{{ streamOption.broadcastifyUrl }}" target="_blank" rel="noopener noreferrer"><img class="bcfy-favicon" src="https://s.broadcastify.com/icons/favicon-96x96.png" title="Audio provided by Broadcastify.com" alt="Broadcastify.com" /></a>
              {{/if}}
            </div>
          {{/each}}
        {{else}}
          <p class="text-danger">Sorry, all streams are currently offline due to technical difficulties. Please try again later.</p>
        {{/if}}
        </div>
      </fieldset>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Spatial Scanner Audio</h4>
    <p>Drag <FaIcon @icon="volume-up" /> to move stereo channels, put on <FaIcon @icon="headphones" /> for surround sound</p>
    <div class="draggable-parent" {{did-insert this.setupDraggable}}>
      <FaIcon @icon="user" />
      {{#each this.enabledStreams as |stream|}}
        {{!-- template-lint-disable no-inline-styles --}}
        <div id="drag-{{stream.name}}" title="{{stream.desc}}" class="draggable" style="color: rgb(0, 0, 0);"><FaIcon @icon="volume-high" />{{stream.name}}</div>
      {{/each}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      {{#each this.enabledStreams as |stream|}}
      <div class="stream col-sm-6" id="stream-{{stream.name}}">
        <h5 class="title">
          <LinkTo @route="audio-live" @model={{stream.name}} title={{concat "Listen to only " stream.desc}}>
            {{stream.desc}} <FaIcon @icon="external-link" />
          </LinkTo>
          {{#if stream.broadcastify}}
          <a href="{{ stream.broadcastifyUrl }}" target="_blank" rel="noopener noreferrer"><img class="bcfy-favicon" src="https://s.broadcastify.com/icons/favicon-96x96.png" title="Audio provided by Broadcastify.com" alt="Broadcastify.com" /></a>
          {{/if}}
        </h5>
        <audio id="audio-player-{{stream.name}}" class="stream-player" preload="none" crossorigin="anonymous" {{did-insert (fn this.startStream stream.name)}}></audio>
      </div>
      {{/each}}
    </div>
  </div>
</div>
