<h3>Live streaming from CrimeIsDown</h3>
<div class="alert alert-warning" role="alert"><img class="bcfy-favicon" src="https://s.broadcastify.com/icons/favicon-96x96.png" title="Audio provided by Broadcastify.com" alt="Broadcastify.com" /> streams are provided by Broadcastify.com. Since you are listening on a 3rd party website, you may hear a 30 second audio advertisement before the scanner audio starts playing. CrimeIsDown.com has no control over this, we are not affiliated with Broadcastify.</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <fieldset {{on "change" (fn this.changeStreams)}} id="streamlist">
        <legend>Check the streams to play</legend>
        <div class="stream-options mb-3">
        {{#if this.streams.length}}
          {{#each this.streams as |streamOption|}}
            <div class="form-check">
              <input class="form-check-input" id="checkbox-{{streamOption.name}}" type="checkbox" name="stream" value={{streamOption.name}} disabled={{if streamOption.disabled "disabled" ""}}>
              <label class="form-check-label" for="checkbox-{{streamOption.name}}">{{streamOption.desc}}</label>
              <LinkTo @route="audio-live" @model={{streamOption.name}} target="_blank" title={{concat "Listen to only " streamOption.desc}}><i class="fa fa-external-link"></i></LinkTo>
              {{#if streamOption.broadcastify}}
              <a href="{{ streamOption.broadcastifyUrl }}" target="_blank" rel="noopener noreferrer"><img class="bcfy-favicon" src="https://s.broadcastify.com/icons/favicon-96x96.png" title="Audio provided by Broadcastify.com" alt="Broadcastify.com" /></a>
              {{/if}}
            </div>
          {{/each}}
        {{else}}
          <p class="text-danger">Sorry, all streams are currently offline due to technical difficulties. Please try again later.</p>
        {{/if}}
        </div>
      </fieldset>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Spatial Scanner Audio</h4>
    <p>Drag <i class="fa fa-volume-up" aria-label="speaker"></i> to move stereo channels, put on <i class="fa fa-headphones" aria-label="headphones" alt="headphones"></i> for surround sound</p>
    <div class="draggable-parent">
      <i class="fa fa-user"></i>
      {{#each this.enabledStreams as |stream|}}
        <i class="fa fa-volume-up" id="drag-{{stream.name}}" title="{{stream.desc}}"><span>&nbsp;{{stream.name}}</span></i>
      {{/each}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      {{#each this.enabledStreams as |stream|}}
      <div class="stream col-sm-6" id="stream-{{stream.name}}">
        <h5 class="title">
          <LinkTo @route="audio-live" @model={{stream.name}} title={{concat "Listen to only " stream.desc}}>
            {{stream.desc}} <i class="fa fa-external-link"></i>
          </LinkTo>
          {{#if stream.broadcastify}}
          <a href="{{ stream.broadcastifyUrl }}" target="_blank" rel="noopener noreferrer"><img class="bcfy-favicon" src="https://s.broadcastify.com/icons/favicon-96x96.png" title="Audio provided by Broadcastify.com" alt="Broadcastify.com" /></a>
          {{/if}}
        </h5>
        <audio id="audio-player-{{stream.name}}" class="stream-player" preload="none"></audio>
      </div>
      {{/each}}
    </div>
  </div>
</div>
