<h3>Live streaming from CrimeIsDown (Beta)</h3>
<div class="row">
  <div class="col-md-5">
    <div class="form-group">
      <fieldset onchange={{action "changeStreams" value="target"}} id="streamlist">
        <legend>Check the streams to play</legend>
        <div class="stream-options">
          {{#each streams as |streamOption|}}
            <div class="checkbox">
              <label><input type="checkbox" name="stream" value={{streamOption}}> {{streamOption}}</label>
            </div>
          {{/each}}
        </div>
      </fieldset>
    </div>
  </div>
  <div class="col-md-7">
    <h4>Spatial Scanner Audio</h4>
    <p>Drag <i class="fa fa-volume-up"></i> to move stereo channels, use <i class="fa fa-headphones" aria-label="headphones"></i> to experience surround sound</p>
    <div class="draggable-parent">
      <i class="fa fa-user"></i>
      {{#each enabledStreams as |stream|}}
        <i class="draggable fa fa-volume-up" id="drag-{{stream.name}}" title="{{stream.name}}"><span>&nbsp;{{stream.name}}</span></i>
      {{/each}}
    </div>
    {{#each enabledStreams as |stream|}}
    <div class="stream" id="stream-{{stream.name}}">
      <div class="row">
        <h5 class="col-sm-7 title">{{stream.name}}</h5>
        <div class="col-sm-5 btn-group" role="group">
          <button onclick={{action "seekStream" -10}} class="btn btn-sm btn-secondary" title="Rewind 10 seconds"><i class="fa fa-step-backward"></i> 10s</button>
          <button onclick={{action "seekStream" 999}} class="btn btn-sm btn-info"><i class="fa fa-circle text-danger"></i> Live</button>
        </div>
      </div>
      <audio id="audio-player-{{stream.name}}" controls></audio>
    </div>
    {{/each}}
  </div>
</div>