<h3>Live streaming from CrimeIsDown (Beta)</h3>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="streamlist">Select a stream to play</label>

      <fieldset onchange={{action "changeStreams" value="target"}} id="streamlist" style="width:auto">
        <legend>Select a stream</legend>
        {{#each streams as |streamOption|}}
          <div class="checkbox">
            <label><input type="checkbox" name="stream" value={{streamOption}}> {{streamOption}}</label>
          </div>
        {{/each}}
      </fieldset>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Spatial Scanner Audio</h4>
    <p>drag <i class="fa fa-volume-up"></i> to move stereo channels</p>
    <div class="draggable-parent">
      <i class="fa fa-user"></i>
      {{#each enabledStreams as |stream|}}
        <i class="draggable fa fa-volume-up" id="drag-{{stream.name}}" title="{{stream.name}}"><span>&nbsp;{{stream.name}}</span></i>
      {{/each}}
    </div>
    {{#each enabledStreams as |stream|}}
    <div class="stream" id="stream-{{stream.name}}">
      <h5>{{stream.name}}</h5>
      <audio id="audio-player-{{stream.name}}" controls></audio>
      <div class="form-group">
        <button onclick={{action "seekStream" -10}} class="btn btn-info">Rewind 10s</button>
        <button onclick={{action "seekStream" 999}} class="btn btn-danger">Live</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>