{{page-title (concat (or this.model.name this.model.slug) " Live Audio")}}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <StreamPlayer @stream={{this.model}} @autoplay={{this.model.autoplay}}>
        {{#if this.model.name}}
          <h1>{{this.model.name}}</h1>
          <p>{{this.model.description}} <strong><LinkTo @route="audio">Visit our Scanner Audio page for more streams, and to download archives of this channel.</LinkTo></strong></p>
        {{else}}
          <h1>{{this.model.slug}}</h1>
        {{/if}}
        {{#if this.model.broadcastify}}
          <div class="alert alert-warning" role="alert">This feed is hosted by Broadcastify.com, as it is of an encrypted radio channel. Radio traffic is delayed 30-35 minutes. CrimeIsDown.com has no control over these streams and is not affiliated with Broadcastify. <a href="https://www.broadcastify.com/listen/feed/{{ this.model.broadcastifyId }}" target="_blank" rel="noopener noreferrer"><img class="bcfy-favicon" src="https://s.broadcastify.com/icons/favicon-96x96.png" title="Audio provided by Broadcastify.com" alt="Broadcastify.com" /> Listen on Broadcastify.com</a></div>
        {{/if}}
      </StreamPlayer>
      {{#if this.model.openmhz}}
        <h2 class="h4">Transmission-based stream/archive</h2>
        <p>Use the <FaIcon @icon="calendar-o" /> <span class="desktop-only">Archive</span> button in the menu below to jump to a certain time. <a href="{{this.model.openmhz}}"><i>Player hosted by OpenMHz.com</i></a></p>
        <iframe id="openmhz-iframe" title="OpenMHz stream" src="{{this.model.openmhz}}"></iframe>
      {{/if}}
    </div>
  </div>
</div>
