<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <StreamPlayer @stream={{this.model.slug}} @autoplay={{false}}>
        <h1>{{this.model.name}}</h1>
        <p>{{this.model.description}} <strong><LinkTo @route="audio">Visit our Scanner Audio page for more streams, and to download archives of this channel.</LinkTo></strong></p>
      </StreamPlayer>
      <h2 class="h4">Transmission-based stream/archive</h2>
      <iframe src="{{this.model.openmhz}}" title="OpenMHZ stream" class="openmhz"></iframe>
    </div>
  </div>
</div>